/* Breadcrumbs */
$br-height: 18px;

.breadcrumb {
    display: flex;

    a {
        height: $br-height;
        color: $c-prime-1;
        font-size: 14px;
        line-height: $br-height;
        @extend .transition;

        &:hover {
            color: $c-grey-4;
            @extend .transition;
        }

        &:not(:last-child):after {
            color: $c-grey-3;
            content: ">";
            display: inline-block;
            margin: 0 4px;
        }
    }

    .active {
        border: none;
        border-radius: 0;
        background-color: transparent;
        color: $c-grey-4;
    }
}