.card{
	background: #FFFFFF;
	@include radius;
	@include box-shadow(0 0 0 1px rgba(black, .09));
	&.depth-1{
		@include box-shadow(0 0 0 1px rgba(black, .09), 0 4px 8px rgba(black, .1));
	}
	&.depth-2{
		@include box-shadow(0 0 0 1px rgba(black, .09), 0 8px 16px rgba(black, .1));
	}
}
.flex{
	@include flexbox;
}
.search-bar{
	font-size: 16px;
	padding:$gutter-l;
	height:80px;
	position:relative;
	@include flex-middle;
	&:before{
		display:block;
		font-family:$font-icon;
		font-size:18px;
		content:"\E089";
		color:$c-grey-3;
		text-align:center;
		width:80px;
		height:80px;
		position: absolute;
		left:0;
		top:0;
		line-height:80px;
		z-index:0;
	}
	input{
		width:100%;
		height:80px;
		border:none;
		font-size: 16px;
		padding:$gutter-l $gutter-l $gutter-l 80px;
		margin-left:-16px;
		margin-top:-16px;
		margin-bottom:-16px;
		background: none;
		position:relative;
		z-index:1;
		@include radius;
	}

}
.dropdown{
	width:220px;
}