*{
	box-sizing: border-box;
}

h4{
	// border: 1px solid red;
}

p{
	// border: 1px solid red;
}

.page-content{
	// border: 1px solid red;
	padding: 10px 10px 10px 10px;
}

.page-list{
	// border: 1px solid red;
}

.list{
	// border: 1px solid red;
	padding: 5px 5px 5px 5px;
	overflow: auto;
}

.illustrations{
	// border: 1px solid red;
	padding: 10px 10px 10px 10px;
	position: relative;
	float: left;
}

.cards{
	// border: 1px solid red;
	padding: 10px 10px 10px 10px;
	position: relative;
	float: left;

}

