/* List */

.sub-title {
  color: $c-grey-5;
}

.sub-section:not(:last-of-type) {
  margin-bottom: $gutter-xxl;
}

.list {
  cursor: pointer;
  color: $c-grey-5;
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  width: 280px;
  max-width: 280px;

  .list-item {
    @include flexbox;
    @include flex-middle;
    @extend .transition;
    height: $c-height;
    font-size: 12px;
    padding: 0 1rem;

    &:hover {
      background-color: $list-bg-color;
      @include radius;
      @extend .transition;
    }
  }

  .active {
    @include radius;
    border: 1px solid $list-bg-color;
    background-color: $list-bg-color;

    .check-box-icon:after {
      background-image: url(../../src/img/list/check.svg);
      background-size: $icon-size $icon-size;
      width: $icon-size;
      height: $icon-size;
      content: "";
    }
  }

  &.check-box {
    .list-item {
      padding: 0 0;

      .check-box-icon {
        @include flexbox;
        @include flex-middle;
        justify-content: center;
        width: $c-height;
        height: $c-height;
      }

      p {
        font-size: 14px;
        color: $c-grey-5;
      }
    }
  }
}
