/* Slider */
.range-slider {
  width: 100%;

  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, $c-firm-1 0, $c-grey-2 0);
    outline: none;
    margin: 0;
    padding: 0;
    @include border-radius(8px);
    @extend .transition;

    &:hover {
      opacity: 1;
    }

    &::-webkit-slider-thumb {
      position: relative;
      @include border-radius(50%);
      -webkit-appearance: none;
      appearance: none;
      width: $chip-height;
      height: $chip-height;
      background: white;
      border: 3px solid $c-firm-1;
      cursor: pointer;
      z-index: 1;
    }

    &::-moz-range-thumb {
      @include border-radius(50%);
      width: $chip-height;
      height: $chip-height;
      background: white;
      border: 3px solid $c-firm-1;
      cursor: pointer;
    }
  }

  &.dual {
    position: relative;
    margin-bottom: 5rem;

    input[type="range"] {
      position: absolute;
      top: 0;
    }
  }
}
