/*
Version         : 1.0
Created Date    : 3/9/2019
Modified Date   : -
Creator         : dikaseva
Contributor     : Nadhifa, Tyagita, George
About           : Urbanstory is a design system library produced by UI / UX Team of Urbanhire
*/

@charset "UTF-8";

// Example of build sass on terminal
// sass -I global -I components-ats -I components-global --watch composer:../
// Meaning include folder global, include folder components-global then compile into folder composer

// sass library
@import "../global/_variables";
@import "../global/_mixin";

/* global css */
@import "../global/_global";

/* extend classes */
@import "../components-global/_extends";

// buttons
@import "../components-global/_button";

// forms
@import "../components-global/_forms";
