<div class="container-fluid">
	<section class="page-hero">
		<h1>Alert</h1>
	</section>
	<section>
		<h4>Alert <small>(Default)</small></h4>
		<div class="alert">
			<h4>Alert <small>(Default)</small></h4>
			Most people learn to talk when they are relatively young. Gaining in verbal capacity as the get older and engage in conversation with more and more people throughout their lives. And while most people will spend their time constantly speaking, some never really learn to listen, which is the king of effective communication.
			<button class="btn btn-flat btn-small alert-close"><i class="icon-close"></i></button>
		</div>
		<pre><code>&lt;div class=&quot;alert&quot;&gt;
	&lt;h4&gt;Alert &lt;small&gt;(Default)&lt;/small&gt;&lt;/h4&gt;
	Most people learn to talk when they are relatively young. Gaining in verbal capacity as the get older and engage in conversation with more and more people throughout their lives. And while most people will spend their time constantly speaking, some never really learn to listen, which is the king of effective communication.
	&lt;button class=&quot;btn btn-flat btn-small alert-close&quot;&gt;&lt;i class=&quot;icon-close&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;/div&gt;</code></pre>

		<h4>Alert <code>.is-danger</code></h4>
		<div class="alert is-danger">
			<h4>Alert Danger</h4>
			Most people learn to talk when they are relatively young. Gaining in verbal capacity as the get older and engage in conversation with more and more people throughout their lives. And while most people will spend their time constantly speaking, some never really learn to listen, which is the king of effective communication.
			<button class="btn btn-flat btn-small alert-close"><i class="icon-close"></i></button>
		</div>
		<pre><code>&lt;div class=&quot;alert is-danger&quot;&gt;
	&lt;h4&gt;Alert &lt;small&gt;(Default)&lt;/small&gt;&lt;/h4&gt;
	Most people learn to talk when they are relatively young. Gaining in verbal capacity as the get older and engage in conversation with more and more people throughout their lives. And while most people will spend their time constantly speaking, some never really learn to listen, which is the king of effective communication.
	&lt;button class=&quot;btn btn-flat btn-small alert-close&quot;&gt;&lt;i class=&quot;icon-close&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;/div&gt;</code></pre>

		<h4>Alert <code>.is-success</code></h4>
		<div class="alert is-success">
			<h4>Alert Success</h4>
			Most people learn to talk when they are relatively young. Gaining in verbal capacity as the get older and engage in conversation with more and more people throughout their lives. And while most people will spend their time constantly speaking, some never really learn to listen, which is the king of effective communication.
			<button class="btn btn-flat btn-small alert-close"><i class="icon-close"></i></button>
		</div>
		<pre><code>&lt;div class=&quot;alert is-success&quot;&gt;
	&lt;h4&gt;Alert &lt;small&gt;(Default)&lt;/small&gt;&lt;/h4&gt;
	Most people learn to talk when they are relatively young. Gaining in verbal capacity as the get older and engage in conversation with more and more people throughout their lives. And while most people will spend their time constantly speaking, some never really learn to listen, which is the king of effective communication.
	&lt;button class=&quot;btn btn-flat btn-small alert-close&quot;&gt;&lt;i class=&quot;icon-close&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;/div&gt;</code></pre>

		<h4>Alert <code>.is-info</code></h4>
		<div class="alert is-info">
			<h4>Alert Info</h4>
			Most people learn to talk when they are relatively young. Gaining in verbal capacity as the get older and engage in conversation with more and more people throughout their lives. And while most people will spend their time constantly speaking, some never really learn to listen, which is the king of effective communication.
			<button class="btn btn-flat btn-small alert-close"><i class="icon-close"></i></button>
		</div>
		<pre><code>&lt;div class=&quot;alert is-info&quot;&gt;
	&lt;h4&gt;Alert &lt;small&gt;(Default)&lt;/small&gt;&lt;/h4&gt;
	Most people learn to talk when they are relatively young. Gaining in verbal capacity as the get older and engage in conversation with more and more people throughout their lives. And while most people will spend their time constantly speaking, some never really learn to listen, which is the king of effective communication.
	&lt;button class=&quot;btn btn-flat btn-small alert-close&quot;&gt;&lt;i class=&quot;icon-close&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;/div&gt;</code></pre>

		<div class="alert has-img is-danger">
			<img src="https://www.rhinocarhire.com/CorporateSite/media/Drive-Smart/Dash-Symbols/warning_symbol_in_red.png">
			<h3>Warning</h3>
			Most people learn to talk when they are relatively young. Gaining in verbal capacity as the get older and engage in conversation with more and more people throughout their lives. And while most people will spend their time constantly speaking, some never really learn to listen, which is the king of effective communication.
			<button class="btn btn-flat btn-small alert-close"><i class="icon-close"></i></button>
		</div>
		<pre><code>&lt;div class=&quot;alert has-img is-danger&quot;&gt;
	&lt;img src=&quot;https://www.rhinocarhire.com/CorporateSite/media/Drive-Smart/Dash-Symbols/warning_symbol_in_red.png&quot;&gt;
	&lt;h3&gt;Warning&lt;/h3&gt;
	Most people learn to talk when they are relatively young. Gaining in verbal capacity as the get older and engage in conversation with more and more people throughout their lives. And while most people will spend their time constantly speaking, some never really learn to listen, which is the king of effective communication.
	&lt;button class=&quot;btn btn-flat btn-small alert-close&quot;&gt;&lt;i class=&quot;icon-close&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;/div&gt;</code></pre>
	</section>
</div>