<section class="page-hero">
	<h1>Avatar</h1>
</section>
<section>

	<div class="avatar">
		<img src="https://randomuser.me/api/portraits/women/17.jpg">
	</div>

	<div class="avatar">
		<img src="https://urbanhire.s3-ap-southeast-1.amazonaws.com/companies/logo/fab12ba24bd4e797a54d4a79737f6ae8.png">
	</div>

	<div class="avatar">
		<img src="https://www.portraitprofessional.com/img/page-images/homepage/v18/slider/layers-B.jpg">
	</div>

	<div class="avatar">
		<span class="icon-user"></span>
	</div>

	<div class="avatar">
		<span>RN</span>
	</div>

	<hr>

	<div class="avatar is-small">
		<img src="https://randomuser.me/api/portraits/women/17.jpg">
	</div>

	<div class="avatar is-small">
		<img src="https://urbanhire.s3-ap-southeast-1.amazonaws.com/companies/logo/fab12ba24bd4e797a54d4a79737f6ae8.png">
	</div>

	<div class="avatar is-small">
		<img src="https://www.portraitprofessional.com/img/page-images/homepage/v18/slider/layers-B.jpg">
	</div>

	<div class="avatar is-small">
		<span class="icon-user"></span>
	</div>

	<div class="avatar is-small">
		<span>RN</span>
	</div>

	<hr>

	<div class="avatar is-large">
		<img src="https://randomuser.me/api/portraits/women/17.jpg">
	</div>

	<div class="avatar is-large">
		<img src="https://urbanhire.s3-ap-southeast-1.amazonaws.com/companies/logo/fab12ba24bd4e797a54d4a79737f6ae8.png">
	</div>

	<div class="avatar is-large">
		<img src="https://www.portraitprofessional.com/img/page-images/homepage/v18/slider/layers-B.jpg">
	</div>

	<div class="avatar is-large">
		<span class="icon-user"></span>
	</div>

	<div class="avatar is-large">
		<span>RN</span>
	</div>

</section>