<div class="container-fluid">
	<section class="page-hero">
		<h1>Toast</h1>
	</section>
	<section>
		<div class="toast">
			<p>Toast sample</p>
			<button class="btn btn-flat btn-small toast-close"><i class="icon-close"></i></button>
		</div>
		<br>
		<div class="toast is-warning">
			<p>Toast sample</p>
			<button class="btn btn-flat btn-small toast-close"><i class="icon-close"></i></button>
		</div>
		<br>
		<div class="toast is-info">
			<p>Toast sample</p>
			<button class="btn btn-flat btn-small toast-close"><i class="icon-close"></i></button>
		</div>
		<br>
		<div class="toast is-danger">
			<p>Toast sample</p>
			<button class="btn btn-flat btn-small toast-close"><i class="icon-close"></i></button>
		</div>
		<br>
		<div class="toast is-success">
			<p>Toast sample</p>
			<button class="btn btn-flat btn-small toast-close"><i class="icon-close"></i></button>
		</div>
		<pre><code></code></pre>
	</section>
</div>