
.alert {
  //@extend .card;
  @include flexbox;
  @include align-items(center);
  padding: $gutter-l;
  overflow: auto;
  background: rgba($c-grey-2, 0.2);
  border: 1px solid rgba($c-grey-3, 0.2);
  line-height: 1.5rem;
  position: relative;
  color: $c-grey-6;
  @include radius;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    padding-right: $gutter-l;
  }
  p {
    margin: 0;
    padding: 0;
  }

  &-icon {
    font-size: $font-xl;
    margin-right: 1em;
    align-self: flex-start;
  }
  &-info {
    background: rgba($c-median-1, 0.2);
    border: 1px solid rgba($c-median-3, 0.2);
    //color:rgba($c-median-2, .75);
    color: $c-median-3;
    .alert-close {
      color: rgba($c-median-3, 0.75);
    }
  }
  &-success {
    background: rgba($c-green-1, 0.2);
    border: 1px solid rgba($c-green-3, 0.2);
    color: $c-green-3;
    .alert-close {
      color: rgba($c-green-3, 0.75);
    }
  }
  &-warning {
    background: rgba($c-yellow-1, 0.2);
    border: 1px solid rgba($c-yellow-3, 0.2);
    color: $c-yellow-3;
    .alert-close {
      color: rgba($c-yellow-3, 0.75);
    }
  }
  &-danger {
    background: rgba($c-red-1, 0.2);
    border: 1px solid rgba($c-red-3, 0.2);
    color: rgba(darken($c-red-1, 20), 0.8);
    color: $c-red-3;
    .alert-close {
      color: rgba($c-red-3, 0.75);
    }
  }
  &-close {
    position: absolute;
    top: $gutter-m;
    right: $gutter-m;
    color: rgba(black, 0.35);
  }
}
