.avatar {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  background: $c-grey-1;
  @include border-radius(100%);
  @include box-shadow(inset 0 0 0 1px rgba(black, 0.05));
  @extend .transition;
  img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  span {
    display: inline;
    position: absolute;
    width: 100%;
    height: 2rem;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: $font-xs;
    line-height: 2rem;
    color: black;
    color: $c-grey-3;
  }
  &-small {
    width: 48px;
    height: 48px;
    span {
      font-size: $font-s;
    }
  }
  &-medium {
    width: 64px;
    height: 64px;
    span {
      font-size: $font-m;
    }
  }
  &-large {
    width: 96px;
    height: 96px;
    span {
      font-size: $font-xl;
    }
  }
  &-extra-large {
    width: 128px;
    height: 128px;
    span {
      font-size: $font-xxl;
    }
  }
  &-square {
    @include border-radius(0);
  }
  &-circle {
    @include box-shadow(0 0 0 2px white);
  }
}
.avatar-group {
  .avatar {
    display: inline-block;
    position: relative;
    z-index: 1;
    @include box-shadow(0 0 0 2px white);
    &:hover {
      z-index: 2;
      @include box-shadow(0 0 0 3px rgba(black, 0.25));
    }
    & + .avatar {
      margin-left: -($gutter-m);
    }
  }
}
