.uh-btn {
    background-color: $c-grey-1;
    font-size: $font-s;
    color: $c-grey-5;
    padding: 0 1rem;
    line-height: 38px;
    border: solid 1px transparent;
    letter-spacing: 0.035em;
    outline: none;
    display: inline-block;
    display: inline-flex;
    text-decoration: none;
    @include radius;
    @extend .transition;
    &:hover {
        cursor: pointer;
        background-color: darken($c-grey-1, 2%);
    }
    &:focus {
        background-color: darken($c-grey-1, 4%);
        @include box-shadow(0 0 0 3px rgba($c-grey-6, 0.15));
    }
    [class*=" icon-"]:before, [class^=icon-]:before, [data-icon]:before {
        vertical-align: middle !important;
    }
    &.text-center {
        @include justify-content(center);
    }
}

.uh-btn-prime {
    background-color: $c-prime-1;
    color: white;
    &:hover {
        background-color: $c-prime-2;
    }
    &:focus {
        background-color: $c-prime-3;
        @include box-shadow(0 0 0 3px rgba($c-prime-1, 0.15));
    }
}

.uh-btn-success {
    background-color: $c-green-1;
    color: white;
    &:hover {
        background-color: $c-green-2;
        //background-color:$c-green-2;
    }
    &:focus {
        background-color: $c-green-3;
        @include box-shadow(0 0 0 3px rgba($c-green-1, 0.15));
    }
}

.uh-btn-danger {
    background-color: $c-red-1;
    color: white;
    &:hover {
        background-color: $c-red-2;
    }
    &:focus {
        background-color: $c-red-3;
        @include box-shadow(0 0 0 3px rgba($c-red-1, 0.15));
    }
}

.uh-btn-median {
    background-color: $c-median-1;
    color: white;
    &:hover {
        background-color: $c-median-2;
    }
    &:focus {
        background-color: $c-median-3;
        @include box-shadow(0 0 0 3px rgba($c-median-1, 0.15));
    }
}

.uh-btn-firm {
    background-color: $c-firm-1;
    color: white;
    &:hover {
        background-color: $c-firm-2;
    }
    &:focus {
        background-color: $c-firm-3;
        @include box-shadow(0 0 0 3px rgba($c-firm-1, 0.15));
    }
}

.uh-btn-flat {
    background: none;
    color: $c-grey-5;
    border: solid 1px transparent;
}

.uh-btn-flat-firm {
    background-color: rgba($c-firm-1, .035);
    border: solid 1px $c-firm-1;
    color: $c-firm-1;
    &:hover {
        background-color: rgba($c-firm-1, 0.08);
    }
    &:focus {
        background-color: rgba($c-firm-1, 0.15);
        @include box-shadow(0 0 0 3px rgba($c-firm-1, 0.15));
    }
}
.uh-btn-flat-median {
    background-color: rgba($c-median-1, .035);
    border: solid 1px $c-median-1;
    color: $c-median-1;
    &:hover {
        background-color: rgba($c-median-1, 0.08);
    }
    &:focus {
        background-color: rgba($c-median-1, 0.15);
        @include box-shadow(0 0 0 3px rgba($c-median-1, 0.15));
    }
}

.uh-btn-flat-prime {
    background-color: rgba($c-prime-1, .035);
    border: solid 1px $c-prime-1;
    color: $c-prime-1;
    &:hover {
        background-color: rgba($c-prime-1, 0.08);
    }
    &:focus {
        background-color: rgba($c-prime-1, 0.15);
        @include box-shadow(0 0 0 3px rgba($c-prime-1, 0.15));
    }
}
.uh-btn-flat-success {
    background-color: rgba($c-green-1, .035);
    border: solid 1px $c-green-1;
    color: $c-green-1;
    &:hover {
        background-color: rgba($c-green-1, 0.08);
    }
    &:focus {
        background-color: rgba($c-green-1, 0.15);
        @include box-shadow(0 0 0 3px rgba($c-green-1, 0.15));
    }
}

.uh-btn-flat-grey {
    background-color: rgba($c-grey-4, .035);
    border: solid 1px $c-grey-5;
    color: $c-grey-5;
    &:hover {
        background-color: rgba($c-grey-4, 0.08);
    }
    &:focus {
        background-color: rgba($c-grey-4, 0.15);
        @include box-shadow(0 0 0 3px rgba($c-grey-4, 0.15));
    }
}


.uh-btn-flat-danger {
    background-color: rgba($c-red-1, .035);
    border: solid 1px $c-red-1;
    color: $c-red-1;
    &:hover {
        background-color: rgba($c-red-1, 0.08);
    }
    &:focus {
        background-color: rgba($c-red-1, 0.15);
        @include box-shadow(0 0 0 3px rgba($c-red-1, 0.15));
    }
}

.uh-btn[disabled="true"],
.uh-btn-disabled {
    background-color: $c-grey-2;
    color: $c-grey-3;
    cursor: not-allowed;
    &:hover {
        background-color: $c-grey-2;
        color: $c-grey-3;
        cursor: not-allowed;
    }
    &:focus {
        background-color: $c-grey-2;
        @include box-shadow(0 0 0 3px rgba($c-grey-5, 0.15));
    }
}

.uh-btn-small {
    font-size: $font-s;
    padding: 0 0.5rem;
    line-height: 28px;
}

.uh-btn-medium {
    font-size: $font-m;
    padding: 0 1rem;
    line-height: 38px;
}

.uh-btn-large {
    font-size: $font-l;
    padding: 0 1rem;
    line-height: 48px;
}

.uh-link {
    text-decoration: underline;
    color: $c-median-1;
    &:hover {
        color: $c-median-2;
    }
    &:active {
        color: $c-median-3;
    }
    &.is-grey {
        color: $c-grey-4;
        &:hover {
            color: $c-grey-5;
        }
        &:active {
            color: $c-grey-6;
        }
    }
}