.dropdown-menu,
.dropdown-icon {
    position: relative;
    background-color: $c-grey-1;
    font-size: $font-s;
    color: $c-grey-5;
    padding: 0 0.875rem;
    line-height: 38px;
    border: solid 1px transparent;
    letter-spacing: 0.035em;
    outline: none;
    display: inline-block;
    display: inline-flex;
    text-decoration: none;
    @include radius;
    // @extend .transition;
    // &:hover {
    //     cursor: pointer;
    //     background-color: darken($c-grey-1, 2%);
    // }
    // &:focus {
    //     background-color: darken($c-grey-1, 4%);
    //     @include box-shadow(0 0 0 3px rgba($c-grey-6, 0.15));
    // }  
}

div.has-children {
    text-align: right;
    display        : inline-block;
    color: $c-firm-1;
   
    
    .ul-option{
        width: 200px;
        //height: 100%;
        background: #ffffff;
        border: 1px solid rgba(221,221,221,0.1);
        @include box-shadow(0 5px 10px 0 rgba(0,0,0,0.2));
        @include radius;
        ul{
            text-align: left;
            margin : 0;
            padding : $gutter-m 0;
            z-index: 4;
            display: none;
            border-bottom: 1px solid #D6D6D6;
                
            &:last-of-type{
                border-bottom: none;
            }
            
        
            li {
                padding: 0 $gutter-l;
                display: block;
                float: none;
                width: 100%;
                &:hover {
                    background: rgba(0,0,0,0.04);
                }
                &:active {
                    background: rgba(0,0,0,0.08);
                }
                a {
                    color: $c-grey-5;
                    font-size: $font-s;
                    display: block;
                    line-height: 1em;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    &:before {
                        display: none;
                    }
                }

            }

            

            

            

           
        }
    }
    
}

div.has-children.is-active {
    ul {
        display: block;
    }
}

.dropdown-menu{
    padding: 0 0 0 0.875rem;
}

.is-success,
.is-firm,
.is-median {
    color: $c-white;
}

.is-success{
    background: $c-green-1; 
}

.is-firm{
    background: $c-firm-1;
}

.is-median{
    background: $c-median-1;
}