.dropdown-button,
.dropdown-icon,
.search-icon {
    font-size: $font-s;
    padding: 0 0.875rem;
    line-height: 38px;
    border: solid 1px transparent;
    letter-spacing: 0.035em;
    display: inline-flex;
    @include radius;
    user-select: none; 
}

.dropdown-button{
    padding: 0 0 0 0.875rem;
    background-color: $c-grey-1;
    color: $c-grey-5;

    &:hover {
        cursor: pointer;
        background-color: darken($c-grey-1, 2%);
    }
    &:active {
        background-color: darken($c-grey-1, 4%);
        @include box-shadow(0 0 0 3px rgba($c-grey-6, 0.15));
    }
    &.is-show{
        display: initial;
    }
    &.is-hidden{
        display: none;
    }
    &.is-rotate{
        i{  
            @include transform(rotate(180deg));
        }
    }
    
    &.is-success,
    &.is-firm,
    &.is-median {
        color: $c-white;
    }
    
    &.is-success{
        background: $c-green-1; 
    
        &:hover {
            background-color: $c-green-2;
        }
        &:active {
            background-color: $c-green-3;
            @include box-shadow(0 0 0 3px rgba($c-green-1, 0.15));
        }
    }
    
    &.is-firm{
        background: $c-firm-1;
        &:hover {
            background-color: $c-firm-2;
        }
        &:active {
            background-color: $c-firm-3;
            @include box-shadow(0 0 0 3px rgba($c-firm-1, 0.15));
        }
    }
    
    &.is-median{
        background: $c-median-1;
        &:hover {
            background-color: $c-median-2;
        }
        &:active {
            background-color: $c-median-3;
            @include box-shadow(0 0 0 3px rgba($c-median-1, 0.15));
        }
    }
}

.dropdown-icon,
.search-icon{
    background-color: transparent;
}

.float-right{
    text-align: right;
}

div.has-children {
    display        : inline-block;
    color: $c-firm-1;
    width: 200px;
   
    .ul-option{
        position: absolute;
        width: 200px;
        background: $c-white;
        border: 1px solid rgba(221,221,221,0.1);
        @include box-shadow(0 5px 10px 0 rgba(0,0,0,0.2));
        @include radius;
        z-index:1;
        ul{
            text-align: left;
            margin : 0;
            padding : $gutter-m 0;
            z-index: 4;
            display: none;
            border-bottom: 1px solid #D6D6D6;
                
            &:last-of-type{
                border-bottom: none;
            }
            
            li.li-option {
                &:hover {
                    background: rgba(0,0,0,0.04);
                }
                &.is-active {
                    background: rgba(0,0,0,0.08);
                }
            }

            li.li-option, .dropdown-searchbar {
                display: block;
                float: none;
                width: 100%;
                
                a{
                    padding: 0 $gutter-l;
                    color: $c-grey-5;
                    font-size: $font-s;
                    display: block;
                    line-height: 1em;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    &:before {
                        display: none;
                    }
                }
            } 
        }
    }   
}

.has-searchbar{
    li.dropdown-searchbar {
        padding: 0 $gutter-m;
        &:hover{
            background: white;
        }
    }

    .ul-option ul li{
        &:hover{
            background: $c-white;
        }
    }

    ::placeholder{
        font-size: 0.875rem;
    }

    .card{
        position: relative;
        input{
            width: 100%;
            padding-right: 43px;
        }
    }

    .search-icon{
        cursor: pointer;
        right: 0;
        background: transparent;
        position: absolute;
        color: $c-grey-3;

        i{
            margin-top:3px;
        }
    }
}

div.has-children.is-active {
    ul {
        display: block;
    }
}

.ul-option.is-hidden {
    display: none;
}