// Filled with extends-able classes

.padd-s {
  padding: $gutter-s;
}
.padd-s-vr {
  padding: $gutter-s 0;
}
.padd-s-hr {
  padding: 0 $gutter-s;
}
.padd-m {
  padding: $gutter-m;
}
.padd-m-vr {
  padding: $gutter-m 0;
}
.padd-m-hr {
  padding: 0 $gutter-m;
}
.padd-l {
  padding: $gutter-l;
}
.padd-l-vr {
  padding: $gutter-l 0;
}
.padd-m-hr {
  padding: 0 $gutter-l;
}
// text formating
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.rounded {
  @include radius;
}
.box-shadow {
  @include box-shadow(0 8px 16px rgba(black, 0.05));
}
.img-wrapper {
  @extend .rounded;
  @extend .box-shadow;
}
.transition {
  @include transition(cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.2s);
}
