/* Labels */
$label-height: 32px;
$label-s-height : 20px;
$label-xs-height: 16px;

.label {
  height: $label-height;
  font-size: 12px;
  padding: 0 $gutter-l;
}

.label-s {
  height: $label-s-height;
  font-size: 11px;
  padding: 0 $gutter-m;
}

.label-xs {
  height: $label-xs-height;
  font-size: 10px;
  padding: 0 $gutter-s;
}


.label , .label-s , .label-xs {
  border: 1px solid $c-grey-1;
  display: inline-flex;
  @include flex-middle;
  justify-content: center;
  border-radius: ($label-height / 2) + 1 ;
  background-color: $c-grey-1;
  color : $c-grey-4;
  min-width: $chip-height * 2;
  margin-right: $gutter-s;
  margin-bottom: $gutter-m;

  button {
    background: none;
    border: none;
    width: $chip-height;
    height: $chip-height;
    text-align: center;
    padding: 0;
    outline: none;
    margin-right: -($gutter-l);
    @include border-radius($chip-height);
    @extend .transition;

    i {
      color: rgba(black, 0.25);
      @extend .transition;
      &:before {
        vertical-align: middle;
      }
    }

    &:hover {
      cursor: pointer;
      i {
        color: rgba(black, 0.4);
      }
    }

    &:focus {
      background: rgba(black, 0.1);
    }
  }
}

.label-outlined {
  border: 1px solid $c-grey-3;
  background-color: $c-white;
  color: $c-grey-5;
}

.label-sub-firm {
  background-color: rgba(39, 145, 217, 0.1);
  color: $c-firm-1;
  border: 1px solid rgba(39, 145, 217, 0);
}
.label-dashed {
  background-color: white;
  border: 1px dashed $c-grey-5;
}

.label-firm {
  background-color: $c-firm-1;
  border: 1px solid $c-firm-1;
  color: $c-white;

  button i {
    color: white;
  }
}

.label-success {
  background-color: $c-green-1;
  border: 1px solid $c-green-1;
  color: $c-white;
}

.label-grey {
  background-color: $c-grey-2;
  border: 1px solid $c-grey-2;
  color: $c-grey-5;
}

.label-danger {
  background-color: $c-red-1;
  border: 1px solid $c-red-1;
  color: $c-white;
}

.label-warning {
  background-color: $c-yellow-1;
  border: 1px solid $c-yellow-1;
  color: $c-white;
}

.label-median {
  background-color: $c-median-1;
  border: 1px solid $c-median-1;
  color: $c-white;
}



 
