.notification, 
.notification-group{
    width : 280px;
    .card{
        box-shadow:none;
        border-radius: 0;
        word-break: break-all;
    }
    .notification-base{
        display: flex;
        padding: $gutter-m;
        
        &:hover, &.hover{
            background-color: $c-grey-1;	
            @include box-shadow(0 0 0 2px rgba(0,0,0,0.1));
            @include radius;
        }

        .avatar{
            flex: 0 0 auto;
            margin-right: $gutter-m + 2px;
        }

        h6, 
        p {
            margin : 0;
        }
        
        h6{
            line-height: 21px;
        }

        p{
          font-size: $font-xs;
          color: $c-grey-5;
          line-height: 18px;
        }

        span{
            margin-top: $gutter-s;
            line-height: 16px;
            display: inline-flex;
            font-size: $font-xxs;
            color: $c-grey-4;
            i{
                margin-top:3px;
            }
            p{
                color: $c-grey-4;
                margin: 0 3px;
            }
        }
    }
}


.notification-group{
    overflow: hidden;
    @include box-shadow(0 5px 10px 0 rgba(0,0,0,0.2));
    @include radius;
    
    .notification-container{
        height: 375px;
        overflow-x: auto;
    }

    .card{
        border-bottom: 1px solid #D6D6D6;
        &:last-child{
            border-bottom: none; 
        }

    }

    li.card{
        cursor: pointer;
        
        border-top : 1px solid #D6D6D6;
        justify-content: center;
        p{
            color: $c-median-1;
        }
    }


    .notification-header{
        justify-content: space-between;

        li{
            cursor: pointer;
            color: $c-grey-4;
            list-style: none;
            font-size: 0.75rem;
        }

        &:hover{
            background: $c-white;
        }
    }

    .un-read {
        background: $c-yellow-alert;

        &:hover{
            background: $c-yellow-alert;
            cursor: pointer;
        }
    }
}