.uh-switch{
    .uh-switch-button{
        cursor: pointer;
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
        @include border-radius(10px);
        border: none;
        background: $c-grey-2;
        outline: none;
    }

    .handle{
        position: absolute;
        @include border-radius(50%);
        height: 20px;
        width: 20px;
        background: $c-grey-4;
        top: 0;
        left: 0;
        transition: left .2s;

        &.active{
            left: 20px;
            background: #2791d9;
            transition: left .2s;
        }
    }    
}