.card-header {
  background: #fff;
  height: 50px;
  padding: 0 32px;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.card-header .ats-logo {
  width: 180px;
}
.card-header .ats-logo img {
  max-height: 50px;
  margin-top: 5px;
}

.flex {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.ats-nav-content {
  display: inline-flex;
  width: -webkit-fill-available;
  justify-content: space-between;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  height: 50px;
}
.ats-nav-content ul {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}
.ats-nav-content ul li {
  display: inline-block;
  padding: 0;
  font-size: 0.875rem;
}
.ats-nav-content ul li a {
  color: #757575;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  height: 50px;
  line-height: 50px;
  padding: 0 16px;
}
.ats-nav-content ul li a:before {
  transition: cubic-bezier(0.71, 0.14, 0.23, 1.01) 0.25s;
  content: "";
  background: #011148;
  width: 0%;
  height: 2px;
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  opacity: 0.5;
}
.ats-nav-content ul li a:hover {
  cursor: pointer;
  color: #011148;
}
.ats-nav-content ul li a:hover:before {
  width: 100%;
}
.ats-nav-content ul li a.active {
  color: #011148;
}
.ats-nav-content ul li a.active:before {
  width: 100%;
  opacity: 1;
}
.ats-nav-content ul li .icon-coin {
  color: #ffce07;
}
.ats-nav-content ul li span {
  margin: 0px 5px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ats-nav-content ul li .company-name {
  width: 150px;
}
.ats-nav-content ul li .coin-amt {
  width: 35px;
}
.ats-nav-content ul li.has-icon {
  padding: 0;
}
.ats-nav-content ul li.has-icon a {
  display: inline-flex;
  height: 50px;
  padding: 0 4px;
  position: relative;
}
.ats-nav-content ul li.has-icon a i {
  margin-top: 2px;
  display: block;
  width: 40px;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
.ats-nav-content ul li.has-icon a::before {
  display: none;
}
.ats-nav-content ul li.has-icon a:after {
  content: "";
  background: rgba(1, 17, 72, 0.05);
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  visibility: hidden;
  opacity: 0;
}
.ats-nav-content ul li.has-icon a:hover:after {
  visibility: visible;
  opacity: 1;
}
.ats-nav-content ul li.has-icon a.active:after {
  visibility: visible;
  opacity: 1;
}
.ats-nav-content ul li.ats-company a:before {
  display: none;
}

.menu-drawer {
  height: 50px;
  width: 30px;
  display: block;
  position: relative;
  cursor: pointer;
}
.menu-drawer::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 2px;
  width: 20px;
  background: #011148;
  box-shadow: 0 -7px 0 #011148, 0 7px 0 #011148;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.2s;
  -moz-transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.2s;
  -o-transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.2s;
  transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.2s;
}
.menu-drawer.active::before {
  box-shadow: -5px -7px 0 #011148, 5px 7px 0 #011148;
}

@media (max-width: 77.5em) {
  .card-header {
    padding: 0 10px;
  }

  .ats-nav-content ul li a {
    padding: 0 5px;
  }

  .ats-nav-content ul li.has-icon a i {
    width: 40px;
  }

  li.menu-drawer {
    width: 30px;
  }
}
@media (max-width: 62em) {
  .left-side {
    display: none;
  }

  .ats-nav-content {
    justify-content: flex-end;
  }

  .right-side ul li:nth-child(1),
.right-side ul li:nth-child(4) {
    display: none;
  }
}
@media (max-width: 48em) {
  .ats-nav-content ul li.has-icon a i {
    width: 30px;
  }

  li.menu-drawer {
    width: 40px;
  }
}
li.has-children {
  color: #011148;
  position: relative;
}
li.has-children ul {
  width: 200px;
  position: absolute;
  z-index: 4;
  display: none;
  background: #ffffff;
  border-top: solid 1px #ddd;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
li.has-children ul li {
  display: block;
  float: none;
  width: 100%;
}
li.has-children ul li:hover {
  background: #f5f5f5;
}
li.has-children ul li:active {
  background: #f5f5f5;
}
li.has-children ul li a {
  display: block;
  line-height: 1em;
  padding-top: 15px;
  padding-bottom: 15px;
}
li.has-children ul li a:before {
  display: none;
}

li.has-children.is-active ul {
  display: block;
}

/*# sourceMappingURL=ats.css.map */
