@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Barlow", Arial, sans-serif;
  color: #212121;
}

::placeholder {
  color: #c2c2c2;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c2c2c2;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c2c2c2;
}

::selection {
  background: #011148;
  /* Safari */
  color: #fff;
}

::-moz-selection {
  background: #011148;
  /* Firefox */
  color: #fff;
}

button,
input,
optgroup,
select,
textarea {
  font-family: "Barlow", Arial, sans-serif;
}

.rounded, .img-wrapper {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.box-shadow, .img-wrapper {
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
}

a {
  color: #2791d9;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.5rem;
  margin: 1rem 0 1rem 0;
}
h1.gutter-reset,
h2.gutter-reset,
h3.gutter-reset,
h4.gutter-reset,
h5.gutter-reset,
h6.gutter-reset {
  margin: 0;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

.align-center, .label {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

article p {
  line-height: 1.5rem;
}

.padd-s {
  padding: 4px;
}

.padd-s-vertical {
  padding: 4px 0;
}

.padd-s-horizontal {
  padding: 0 4px;
}

.padd-m {
  padding: 8px;
}

.padd-m-vertical {
  padding: 8px 0;
}

.padd-m-horizontal {
  padding: 0 8px;
}

.padd-l, .alert {
  padding: 16px;
}

.padd-l-vertical {
  padding: 16px 0;
}

.padd-m-horizontal {
  padding: 0 16px;
}

figure {
  width: 100%;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

figcaption {
  font-size: 12px;
  color: #757575;
  font-style: italic;
}

.transition, .range-slider input[type=range], .chip button i, .chip button, .pagination a, .breadcrumb a:hover, .breadcrumb a, .list a, .list.has-icon a:before, .uh-tab-nav .nav-item::before, .avatar, textarea,
input[type=text],
input[type=password],
input[type=email],
input[type=search],
select, .btn {
  -webkit-transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.2s;
  -moz-transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.2s;
  -o-transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.2s;
  transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.2s;
}

dl dt {
  color: #212121;
  padding: 4px 0;
}
dl dd {
  color: #757575;
  padding: 4px 0;
}

.btn {
  background-color: #f5f5f5;
  font-size: 14px;
  padding: 0 1rem;
  line-height: 38px;
  border: solid 1px #f5f5f5;
  letter-spacing: 0.01em;
  outline: none;
  display: inline-block;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.btn:hover {
  cursor: pointer;
}
.btn:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.15);
}
.btn.btn-firm {
  background-color: #011148;
  border: solid 1px #011148;
  color: white;
}
.btn.btn-firm:hover {
  background-color: #010b2f;
}
.btn.btn-firm:focus {
  background-color: #000516;
  -webkit-box-shadow: 0 0 0 3px rgba(1, 17, 72, 0.15);
  -moz-box-shadow: 0 0 0 3px rgba(1, 17, 72, 0.15);
  box-shadow: 0 0 0 3px rgba(1, 17, 72, 0.15);
}
.btn.btn-firm-o {
  background-color: white;
  border: solid 1px #011148;
  color: #011148;
}
.btn.btn-firm-o:hover {
  background-color: rgba(1, 17, 72, 0.05);
}
.btn.btn-firm-o:focus {
  background-color: rgba(1, 17, 72, 0.15);
  -webkit-box-shadow: 0 0 0 3px rgba(1, 17, 72, 0.15);
  -moz-box-shadow: 0 0 0 3px rgba(1, 17, 72, 0.15);
  box-shadow: 0 0 0 3px rgba(1, 17, 72, 0.15);
}
.btn.btn-median {
  background-color: #2791d9;
  border: solid 1px #2791d9;
  color: white;
}
.btn.btn-median:hover {
  background-color: #2283c4;
}
.btn.btn-median:focus {
  background-color: #1f74ae;
  -webkit-box-shadow: 0 0 0 3px rgba(39, 145, 217, 0.15);
  -moz-box-shadow: 0 0 0 3px rgba(39, 145, 217, 0.15);
  box-shadow: 0 0 0 3px rgba(39, 145, 217, 0.15);
}
.btn.btn-prime {
  background-color: #33beef;
  border: solid 1px #33beef;
  color: white;
}
.btn.btn-prime:hover {
  background-color: #1bb6ed;
}
.btn.btn-prime:focus {
  background-color: #11a8de;
  -webkit-box-shadow: 0 0 0 3px rgba(51, 190, 239, 0.15);
  -moz-box-shadow: 0 0 0 3px rgba(51, 190, 239, 0.15);
  box-shadow: 0 0 0 3px rgba(51, 190, 239, 0.15);
}
.btn.btn-success {
  background-color: #2fbd90;
  border: solid 1px #2fbd90;
  color: white;
}
.btn.btn-success:hover {
  background-color: #2aa980;
}
.btn.btn-success:focus {
  background-color: #259471;
  -webkit-box-shadow: 0 0 0 3px rgba(47, 189, 144, 0.15);
  -moz-box-shadow: 0 0 0 3px rgba(47, 189, 144, 0.15);
  box-shadow: 0 0 0 3px rgba(47, 189, 144, 0.15);
}
.btn.btn-danger {
  background-color: #ef4344;
  border: solid 1px #ef4344;
  color: white;
}
.btn.btn-danger:hover {
  background-color: #ed2c2d;
}
.btn.btn-danger:focus {
  background-color: #eb1415;
  -webkit-box-shadow: 0 0 0 3px rgba(239, 67, 68, 0.15);
  -moz-box-shadow: 0 0 0 3px rgba(239, 67, 68, 0.15);
  box-shadow: 0 0 0 3px rgba(239, 67, 68, 0.15);
}
.btn.btn-flat {
  background: none;
  border: solid 1px transparent;
}
.btn.btn-disabled {
  background-color: #d6d6d6;
  border: solid 1px #d6d6d6;
  color: #f5f5f5;
  cursor: not-allowed;
}
.btn.btn-small {
  font-size: 12px;
  padding: 0 0.5rem;
  line-height: 28px;
}
.btn.btn-medium {
  font-size: 14px;
  padding: 0 1rem;
  line-height: 38px;
}
.btn.btn-large {
  font-size: 18px;
  padding: 0 1rem;
  line-height: 48px;
}

.link-primary {
  text-decoration: underline;
  color: #2791d9;
}
.link-primary:hover {
  color: #2283c4;
}
.link-primary:active {
  color: #1f74ae;
}

.link-secondary {
  text-decoration: underline;
  color: #a3a3a3;
}
.link-secondary:hover {
  color: #757575;
}
.link-secondary:active {
  color: #212121;
}

/* Uncomment and set these variables to customize the grid. */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 32px;
  padding-left: 32px;
}

.row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px;
}

.row.reverse {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 8px;
  padding-left: 8px;
}

.col-xs {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  -ms-flex-preferred-size: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%;
}

.col-xs-2 {
  -ms-flex-preferred-size: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%;
}

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.col-xs-5 {
  -ms-flex-preferred-size: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%;
}

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  -ms-flex-preferred-size: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%;
}

.col-xs-8 {
  -ms-flex-preferred-size: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%;
}

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  -ms-flex-preferred-size: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%;
}

.col-xs-11 {
  -ms-flex-preferred-size: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%;
}

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-1 {
  margin-left: 8.333%;
}

.col-xs-offset-2 {
  margin-left: 16.667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.333%;
}

.col-xs-offset-5 {
  margin-left: 41.667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.333%;
}

.col-xs-offset-8 {
  margin-left: 66.667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.333%;
}

.col-xs-offset-11 {
  margin-left: 91.667%;
}

.start-xs {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

.end-xs {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.middle-xs {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.bottom-xs {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
}

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between-xs {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.first-xs {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
}

.last-xs {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}

@media only screen and (min-width: 48em) {
  .container {
    width: 46rem;
  }

  .col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 8px;
    padding-left: 8px;
  }

  .col-sm {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-sm-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-sm-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-sm-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-sm-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-sm-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-sm-offset-1 {
    margin-left: 8.333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.667%;
  }

  .start-sm {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-sm {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-sm {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-sm {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-sm {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-sm {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-sm {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-sm {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}
@media only screen and (min-width: 62em) {
  .container {
    width: 61rem;
  }

  .col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 8px;
    padding-left: 8px;
  }

  .col-md {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-md-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-md-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-md-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-md-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-md-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-md-offset-1 {
    margin-left: 8.333%;
  }

  .col-md-offset-2 {
    margin-left: 16.667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.333%;
  }

  .col-md-offset-5 {
    margin-left: 41.667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.333%;
  }

  .col-md-offset-8 {
    margin-left: 66.667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.333%;
  }

  .col-md-offset-11 {
    margin-left: 91.667%;
  }

  .start-md {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-md {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-md {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-md {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-md {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-md {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-md {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-md {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}
@media only screen and (min-width: 75em) {
  .container {
    width: 71rem;
  }

  .col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 8px;
    padding-left: 8px;
  }

  .col-lg {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-lg-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-lg-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-lg-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-lg-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-lg-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-lg-offset-1 {
    margin-left: 8.333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.667%;
  }

  .start-lg {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-lg {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-lg {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-lg {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-lg {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-lg {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-lg {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-lg {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  vertical-align: inherit;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}
table thead {
  background: #f5f5f5;
}
table thead tr {
  border: none;
}
table thead th {
  border: none;
  padding: 4px;
  margin: 0;
}
table tbody td {
  padding: 4px;
  border-bottom: solid 1px #c2c2c2;
}
table.table-comfort thead th {
  padding: 8px;
}
table.table-comfort tbody td {
  padding: 8px;
}
table.table-spacy thead th {
  padding: 16px;
}
table.table-spacy tbody td {
  padding: 16px;
}

textarea,
input[type=text],
input[type=password],
input[type=email],
input[type=search],
select {
  outline: none;
  border: solid 1px #c2c2c2;
  line-height: 40px;
  font-size: 14px;
  padding: 0 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=search]:focus,
select:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.15);
}
textarea[disabled],
input[type=text][disabled],
input[type=password][disabled],
input[type=email][disabled],
input[type=search][disabled],
select[disabled] {
  border: solid 1px #d6d6d6;
  cursor: not-allowed;
}

select {
  height: 40px;
  width: 100%;
  background: white;
}

.input-form label:first-of-type {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 8px;
  margin-top: 16px;
}
.input-form.width-auto textarea,
.input-form.width-auto input,
.input-form.width-auto select {
  width: auto;
}
.input-form textarea {
  resize: vertical;
  overflow: auto;
  line-height: 1rem;
  padding: 8px;
  min-height: 64px;
}
.input-form textarea,
.input-form input,
.input-form select {
  width: 100%;
}
.input-form textarea + label,
.input-form input + label,
.input-form select + label {
  display: block;
  color: #a3a3a3;
  font-size: 0.75rem;
  margin-top: 4px;
}
.input-form.is-danger label {
  color: #ef4344;
}
.input-form.is-danger select,
.input-form.is-danger textarea,
.input-form.is-danger input[type=text],
.input-form.is-danger input[type=password],
.input-form.is-danger input[type=email],
.input-form.is-danger input[type=search] {
  border: solid 1px #ef4344;
}
.input-form.is-danger select:focus,
.input-form.is-danger textarea:focus,
.input-form.is-danger input[type=text]:focus,
.input-form.is-danger input[type=password]:focus,
.input-form.is-danger input[type=email]:focus,
.input-form.is-danger input[type=search]:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(239, 67, 68, 0.15);
  -moz-box-shadow: 0 0 0 3px rgba(239, 67, 68, 0.15);
  box-shadow: 0 0 0 3px rgba(239, 67, 68, 0.15);
}
.input-form.is-warning label {
  color: #ffce07;
}
.input-form.is-warning select,
.input-form.is-warning textarea,
.input-form.is-warning input[type=text],
.input-form.is-warning input[type=password],
.input-form.is-warning input[type=email],
.input-form.is-warning input[type=search] {
  border: solid 1px #ffce07;
}
.input-form.is-warning select:focus,
.input-form.is-warning textarea:focus,
.input-form.is-warning input[type=text]:focus,
.input-form.is-warning input[type=password]:focus,
.input-form.is-warning input[type=email]:focus,
.input-form.is-warning input[type=search]:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(255, 206, 7, 0.15);
  -moz-box-shadow: 0 0 0 3px rgba(255, 206, 7, 0.15);
  box-shadow: 0 0 0 3px rgba(255, 206, 7, 0.15);
}
.input-form.is-success label {
  color: #2fbd90;
}
.input-form.is-success select,
.input-form.is-success textarea,
.input-form.is-success input[type=text],
.input-form.is-success input[type=password],
.input-form.is-success input[type=email],
.input-form.is-success input[type=search] {
  border: solid 1px #2fbd90;
}
.input-form.is-success select:focus,
.input-form.is-success textarea:focus,
.input-form.is-success input[type=text]:focus,
.input-form.is-success input[type=password]:focus,
.input-form.is-success input[type=email]:focus,
.input-form.is-success input[type=search]:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(47, 189, 144, 0.15);
  -moz-box-shadow: 0 0 0 3px rgba(47, 189, 144, 0.15);
  box-shadow: 0 0 0 3px rgba(47, 189, 144, 0.15);
}
.input-form.is-info label {
  color: #2791d9;
}
.input-form.is-info select,
.input-form.is-info textarea,
.input-form.is-info input[type=text],
.input-form.is-info input[type=password],
.input-form.is-info input[type=email],
.input-form.is-info input[type=search] {
  border: solid 1px #2791d9;
}
.input-form.is-info select:focus,
.input-form.is-info textarea:focus,
.input-form.is-info input[type=text]:focus,
.input-form.is-info input[type=password]:focus,
.input-form.is-info input[type=email]:focus,
.input-form.is-info input[type=search]:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(39, 145, 217, 0.15);
  -moz-box-shadow: 0 0 0 3px rgba(39, 145, 217, 0.15);
  box-shadow: 0 0 0 3px rgba(39, 145, 217, 0.15);
}

.avatar {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  background: #f5f5f5;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
}
.avatar img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.avatar span {
  display: inline;
  position: absolute;
  width: 100%;
  height: 2rem;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 0.75rem;
  line-height: 2rem;
  color: black;
  color: #c2c2c2;
}
.avatar.is-sm {
  width: 48px;
  height: 48px;
}
.avatar.is-sm span {
  font-size: 1rem;
}
.avatar.is-md {
  width: 64px;
  height: 64px;
}
.avatar.is-md span {
  font-size: 1.5rem;
}
.avatar.is-lg {
  width: 96px;
  height: 96px;
}
.avatar.is-lg span {
  font-size: 2rem;
}
.avatar.is-xl {
  width: 128px;
  height: 128px;
}
.avatar.is-xl span {
  font-size: 2rem;
}
.avatar.is-square {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.avatar.is-o {
  -webkit-box-shadow: 0 0 0 2px white;
  -moz-box-shadow: 0 0 0 2px white;
  box-shadow: 0 0 0 2px white;
}

.avatar-group .avatar {
  display: inline-block;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 0 0 2px white;
  -moz-box-shadow: 0 0 0 2px white;
  box-shadow: 0 0 0 2px white;
}
.avatar-group .avatar:hover {
  z-index: 2;
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.25);
}
.avatar-group .avatar + .avatar {
  margin-left: -8px;
}

.card {
  background: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
}
.card.depth-1 {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09), 0 4px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09), 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09), 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card.depth-2 {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09), 0 8px 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09), 0 8px 16px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.flex {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.search-bar {
  font-size: 16px;
  padding: 16px;
  height: 80px;
  position: relative;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}
.search-bar:before {
  display: block;
  font-family: urbanfont;
  font-size: 18px;
  content: "";
  color: #c2c2c2;
  text-align: center;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 80px;
  z-index: 0;
}
.search-bar input {
  width: 100%;
  height: 80px;
  border: none;
  font-size: 16px;
  padding: 16px 16px 16px 80px;
  margin-left: -16px;
  margin-top: -16px;
  margin-bottom: -16px;
  background: none;
  position: relative;
  z-index: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.dropdown {
  width: 220px;
}

.alert {
  overflow: auto;
  background: rgba(214, 214, 214, 0.2);
  border: 1px solid rgba(194, 194, 194, 0.2);
  line-height: 1.5rem;
  position: relative;
  color: #212121;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.alert.has-img {
  padding-left: 4rem;
}
.alert.has-img img {
  float: left;
  width: 2rem;
  margin-left: -3rem;
}
.alert.is-info {
  background: rgba(39, 145, 217, 0.2);
  border: 1px solid rgba(31, 116, 174, 0.2);
  color: #1f74ae;
}
.alert.is-info .alert-close {
  color: rgba(31, 116, 174, 0.75);
}
.alert.is-success {
  background: rgba(47, 189, 144, 0.2);
  border: 1px solid rgba(37, 148, 113, 0.2);
  color: #259471;
}
.alert.is-success .alert-close {
  color: rgba(37, 148, 113, 0.75);
}
.alert.is-warning {
  background: rgba(255, 206, 7, 0.2);
  border: 1px solid rgba(211, 169, 0, 0.2);
  color: #d3a900;
}
.alert.is-warning .alert-close {
  color: rgba(211, 169, 0, 0.75);
}
.alert.is-danger {
  background: rgba(239, 67, 68, 0.2);
  border: 1px solid rgba(235, 20, 21, 0.2);
  color: rgba(188, 16, 17, 0.8);
  color: #eb1415;
}
.alert.is-danger .alert-close {
  color: rgba(235, 20, 21, 0.75);
}
.alert h1,
.alert h2,
.alert h3,
.alert h4,
.alert h5,
.alert h6 {
  margin-top: 0;
  padding-right: 16px;
}
.alert p {
  margin: 0;
  padding: 0;
}

.alert-close {
  position: absolute;
  top: 8px;
  right: 8px;
  color: rgba(0, 0, 0, 0.35);
}

/*Toast*/
.toast {
  padding: 0 16px;
  overflow: auto;
  background: #f3f3f3;
  border: 1px solid rgba(194, 194, 194, 0.2);
  position: relative;
  color: #212121;
  min-width: 320px;
  max-width: 100%;
  padding-right: 50px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.toast.is-info {
  background: #d4e9f7;
  border: 1px solid rgba(31, 116, 174, 0.2);
  color: #1f74ae;
}
.toast.is-info .alert-close {
  color: rgba(31, 116, 174, 0.75);
}
.toast.is-success {
  background: #d5f2e9;
  border: 1px solid rgba(37, 148, 113, 0.2);
  color: #259471;
}
.toast.is-success .alert-close {
  color: rgba(37, 148, 113, 0.75);
}
.toast.is-warning {
  background: #fff5cd;
  border: 1px solid rgba(211, 169, 0, 0.2);
  color: #d3a900;
}
.toast.is-warning .alert-close {
  color: rgba(211, 169, 0, 0.75);
}
.toast.is-danger {
  background: #fcd9da;
  border: 1px solid rgba(235, 20, 21, 0.2);
  color: #eb1415;
}
.toast.is-danger .alert-close {
  color: rgba(235, 20, 21, 0.75);
}
.toast .toast-close {
  position: absolute;
  top: 12px;
  right: 8px;
  color: rgba(0, 0, 0, 0.35);
}
.toast.hide {
  display: none;
}

.toast-fixed-wrapper {
  position: fixed;
  z-index: 889;
  bottom: 16px;
  left: 16px;
}
.toast-fixed-wrapper .toast {
  margin-bottom: 8px;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.toast-fixed-wrapper .toast:last-child {
  margin-bottom: 0;
}

.uh-tab {
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  display: block;
  width: auto;
  color: #757575;
}
.uh-tab-nav {
  -webkit-box-shadow: 0 1px 0 0 #dddddd;
  -moz-box-shadow: 0 1px 0 0 #dddddd;
  box-shadow: 0 1px 0 0 #dddddd;
  position: relative;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.uh-tab-nav .nav-item {
  flex: 1;
  text-align: center;
  padding: 16px;
  position: relative;
}
.uh-tab-nav .nav-item.no-grow {
  max-width: 64px;
}
.uh-tab-nav .nav-item::before {
  width: 0%;
  height: 3px;
  content: "";
  display: block;
  background: rgba(1, 17, 72, 0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.uh-tab-nav .nav-item:hover {
  color: rgba(1, 17, 72, 0.7);
}
.uh-tab-nav .nav-item:hover::before {
  width: 100%;
}
.uh-tab-nav .nav-item.active {
  color: #011148;
}
.uh-tab-nav .nav-item.active::before {
  width: 100%;
  background: #011148;
}
.uh-tab-nav .nav-item:hover {
  cursor: pointer;
}
.uh-tab .uh-tab-item {
  padding: 16px;
  position: relative;
  display: none;
}

.uh-input {
  margin: 16px 0px;
  /* Customize the label (the container) */
}
.uh-input input {
  padding: 12px 20px;
  width: 100%;
  border: 1px solid #ccc;
}
.uh-input .container {
  /* Customize the label (the container) */
}
.uh-input .container-checkbox {
  display: block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 10px;
  cursor: pointer;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
}
.uh-input .container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  /* Show the checkmark when checked */
  /* When the checkbox is checked, add a blue background */
}
.uh-input .container-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.uh-input .container-checkbox input:checked ~ .checkmark {
  background-color: #011148;
}
.uh-input .container-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.35);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Style the checkmark/indicator */
}
.uh-input .container-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.uh-input .container-checkbox .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.uh-input .container-radio {
  display: block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 12px;
  cursor: pointer;
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
}
.uh-input .container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  /* When the radio button is checked, add a blue background */
  /* Show the indicator (dot/circle) when checked */
}
.uh-input .container-radio input:checked ~ .checkmark {
  background-color: #011148;
}
.uh-input .container-radio input:checked ~ .checkmark:after {
  display: block;
}
.uh-input .container-radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.35);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Style the indicator (dot/circle) */
}
.uh-input .container-radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.uh-input .container-radio .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type=checkbox]:focus {
  outline: #3b99fc auto 5px !important;
}

/* Labels */
.label {
  border: 1px solid #c2c2c2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #757575;
  display: inline-block;
  font-size: 11px;
  height: 20px;
  line-height: 18px;
  min-width: 40px;
  margin-left: 4px;
  padding: 0 8px;
}
.label.label-firm {
  background-color: #011148;
  border: 1px solid #011148;
  color: white;
}
.label.label-success {
  background-color: #2fbd90;
  border: 1px solid #2fbd90;
  color: white;
}
.label.label-grey {
  background-color: #d6d6d6;
  border: 1px solid #d6d6d6;
  color: #757575;
}
.label.label-danger {
  background-color: #ef4344;
  border: 1px solid #ef4344;
  color: white;
}
.label.label-warning {
  background-color: #ffce07;
  border: 1px solid #ffce07;
  color: white;
}
.label.label-median {
  background-color: #2791d9;
  border: 1px solid #2791d9;
  color: white;
}

/* List */
.list {
  color: #757575;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list.has-icon a {
  padding-left: 0;
}
.list.has-icon a:before {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  font-family: urbanfont;
  min-width: 40px;
  height: 40px;
  content: "";
  visibility: hidden;
  color: #011148;
}
.list.has-icon a.active {
  color: #011148;
}
.list.has-icon a.active:before {
  visibility: visible;
}
.list a {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  color: #757575;
  height: 40px;
  font-size: 12px;
  padding: 0 16px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.list a:hover {
  background-color: #f5f5f5;
}
.list a:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.09);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.09);
}

/* Breadcrumbs */
.breadcrumb a {
  height: 18px;
  display: inline-block;
  color: #757575;
  font-size: 14px;
  line-height: 18px;
}
.breadcrumb a:hover {
  color: #a3a3a3;
}
.breadcrumb a:not(:last-child):after {
  color: #c2c2c2;
  font-family: urbanfont;
  content: "";
  display: inline-block;
  margin: 0 4px;
  vertical-align: bottom;
}
.breadcrumb .active {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  background-color: transparent;
  color: #c2c2c2;
}

/* Pagination */
.pagination {
  display: inline-block;
  height: 40px;
  min-width: 120px;
  border: 1px solid rgba(221, 221, 221, 0.1);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.pagination i {
  display: inline-block;
  line-height: 40px;
  vertical-align: middle;
}
.pagination a {
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  color: #a3a3a3;
}
.pagination a:hover {
  background-color: #000c35;
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  color: white;
}
.pagination a:focus {
  background-color: #000823;
  -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
  color: white;
}
.pagination a.active {
  background-color: #011148;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  color: white;
}
.pagination a.hovered {
  background-color: #000c35;
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  color: white;
}
.pagination a.focused {
  color: white;
  background-color: #000823;
  -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
}

/* Chips*/
.chip {
  display: inline-flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background-color: #f5f5f5;
  color: #a3a3a3;
  font-size: 12px;
  padding: 0 16px;
  height: 32px;
  min-width: 64px;
  margin-right: 4px;
}
.chip i {
  font-size: 12px;
  color: #a3a3a3;
}
.chip button {
  background: none;
  border: none;
  width: 32px;
  height: 32px;
  text-align: center;
  padding: 0;
  outline: none;
  margin-right: -16px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
}
.chip button i {
  color: rgba(0, 0, 0, 0.25);
}
.chip button i:before {
  vertical-align: middle;
}
.chip button:hover {
  cursor: pointer;
}
.chip button:hover i {
  color: rgba(0, 0, 0, 0.4);
}
.chip button:focus {
  background: rgba(0, 0, 0, 0.1);
}
.chip.chip-firm {
  background-color: rgba(39, 145, 217, 0.1);
  color: #011148;
}
.chip.chip-dashed {
  background-color: white;
  border: 1px dashed #757575;
}
.chip.chip-success {
  background: #2fbd90;
  color: white;
}
.chip.chip-danger {
  background: #ef4344;
  color: white;
}
.chip.chip-warning {
  background: #ffce07;
  color: white;
}
.chip.chip-median {
  background: #2791d9;
  color: white;
}

/* Slider */
.range-slider {
  width: 100%;
}
.range-slider input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: -webkit-linear-gradient(left, #011148 0, #d6d6d6 0);
  background: -moz-linear-gradient(left, #011148 0, #d6d6d6 0);
  background: -o-linear-gradient(left, #011148 0, #d6d6d6 0);
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #011148), color-stop(0, #d6d6d6));
  background: linear-gradient(90deg, #011148 0, #d6d6d6 0);
  outline: none;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.range-slider input[type=range]:hover {
  opacity: 1;
}
.range-slider input[type=range]::-webkit-slider-thumb {
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  background: white;
  border: 3px solid #011148;
  cursor: pointer;
  z-index: 1;
}
.range-slider input[type=range]::-moz-range-thumb {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background: white;
  border: 3px solid #011148;
  cursor: pointer;
}
.range-slider.dual {
  position: relative;
  margin-bottom: 5rem;
}
.range-slider.dual input[type=range] {
  position: absolute;
  top: 0;
}
.range-slider.dual #upper {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #d6d6d6), color-stop(1%, #d6d6d6), color-stop(1%, #011148), color-stop(1%, #011148), color-stop(1%, #d6d6d6), to(#d6d6d6));
  background: -webkit-linear-gradient(left, #d6d6d6 0, #d6d6d6 1%, #011148 1%, #011148 1%, #d6d6d6 1%, #d6d6d6 100%);
  background: -moz-linear-gradient(left, #d6d6d6 0, #d6d6d6 1%, #011148 1%, #011148 1%, #d6d6d6 1%, #d6d6d6 100%);
  background: -o-linear-gradient(left, #d6d6d6 0, #d6d6d6 1%, #011148 1%, #011148 1%, #d6d6d6 1%, #d6d6d6 100%);
  background: linear-gradient(90deg, #d6d6d6 0, #d6d6d6 1%, #011148 1%, #011148 1%, #d6d6d6 1%, #d6d6d6 100%);
}

.card-header {
  background: white;
  height: 50px;
  padding: 0 25px;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.card-header img {
  max-height: 70px;
  width: 50%;
  margin-top: 5px;
}

.flex {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.ats-nav-content {
  display: inline-flex;
  width: -webkit-fill-available;
  justify-content: space-between;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  height: 50px;
  margin-left: -120px;
}
.ats-nav-content ul {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}
.ats-nav-content ul li {
  display: inline-block;
  padding: 0 15px;
  font-size: 0.875rem;
}
.ats-nav-content ul li a {
  color: #1A1A1A;
  cursor: pointer;
  position: relative;
}
.ats-nav-content ul li a:before {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  transition: cubic-bezier(0.71, 0.14, 0.23, 1.01) 0.35s;
  content: "";
  background: #011148;
  width: 0%;
  height: 3px;
  display: inline-block;
  margin-top: 32px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 32px auto 0px;
}
.ats-nav-content ul li a:hover {
  cursor: pointer;
  color: #011148;
}
.ats-nav-content ul li a:hover:before {
  width: 100%;
}
.ats-nav-content ul li a.active {
  color: #011148;
}
.ats-nav-content ul li a.active:before {
  width: 100%;
}
.ats-nav-content ul li .icon-coin {
  color: #ffce07;
}
.ats-nav-content ul li span {
  margin: 0px 5px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ats-nav-content ul li .company-name {
  width: 150px;
}
.ats-nav-content ul li .coin-amt {
  width: 35px;
}

.ats-menu-button {
  position: relative;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 20px;
}

.ats-menu-button span {
  position: absolute;
  right: 0;
  left: 0;
  display: block;
  width: 60%;
  height: 2px;
  margin: auto;
  background: #212121;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.ats-menu-button span:nth-child(1) {
  top: 4px;
}

.ats-menu-button span:nth-child(2) {
  top: 10px;
}

.ats-menu-button span:nth-child(3) {
  top: 16px;
}

@media (max-width: 1230px) {
  .card-header {
    padding: 0 10px;
  }

  .ats-menu-button {
    margin-bottom: 25px;
  }

  .card-header {
     box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  }

  .left-side {
    display: none;
  }

  .ats-nav-content {
    justify-content: flex-end;
  }

  .right-side ul li:nth-child(1), .right-side ul li:nth-child(4) {
    display: none;
  }
}
li.has-children {
  color: #011148;
  position: relative;
}
li.has-children ul {
  width: 200px;
  position: absolute;
  z-index: 4;
  display: none;
  background: #ffffff;
  top: 35px;
  border-top: solid 1px #ddd;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
li.has-children ul li {
  display: block;
  float: none;
  width: 100%;
}
li.has-children ul li:hover {
  background: #f5f5f5;
}
li.has-children ul li:active {
  background: #f5f5f5;
}
li.has-children ul li a {
  display: block;
  line-height: 1em;
  padding-top: 15px;
  padding-bottom: 15px;
}
li.has-children ul li a:before {
  display: none;
}

li.has-children.is-active ul {
  display: block;
}

.ats-menu-button.menu-button-active span:nth-child(1) {
  left: -5px;
}
.ats-menu-button.menu-button-active span:nth-child(3) {
  left: 5px;
}

.uh-img-showcase img {
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

/*# sourceMappingURL=style.css.map */
