<div class="container-fluid">
    <section class="page-hero">
        <h1>Breadcrumbs</h1>
    </section>
    <section>
        <nav class="breadcrumb">
            <a href="#">Home</a>
            <a href="#">Page</a>
            <a href="#" class="active">Sub Page</a>
        </nav>
        <pre><code>&lt;nav class=&quot;breadcrumb&quot;&gt;
    &lt;a href=&quot;#&quot;&gt;Home&lt;/a&gt;
    &lt;a href=&quot;#&quot;&gt;Page&lt;/a&gt;
    &lt;a href=&quot;#&quot; class=&quot;active&quot;&gt;Sub Page&lt;/a&gt;
&lt;/nav&gt;</code></pre>
    </section>
</div>