<div class="container-fluid">
    <section class="page-hero">
        <h1>Breadcrumbs</h1>
    </section>
    <section>
        <nav>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Page</a></li>
                <li class="breadcrumb-item active"><a href="#">Sub Page</a></li>
            </ul>
        </nav>
        <pre><code>&lt;nav&gt;
    &lt;ul class=&quot;breadcrumb&quot;&gt;
        &lt;li class=&quot;breadcrumb-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;breadcrumb-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Page&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;breadcrumb-item active&quot;&gt;&lt;a href=&quot;#&quot;&gt;Sub Page&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;</code></pre>
    </section>
</div>