<div class="container-fluid">
	<section class="page-hero">
		<h1>Button & Links</h1>
	</section>
	<section>
		<h4>Visual Loudness Guide</h4>
		<table class="table-comfort align-left">
			<thead>
				<tr>
					<th>Button/Link</th>
					<th>Type</th>
					<th>Volume</th>
					<th>Frequency</th>
					<th>Use</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<button class="btn btn-firm">Button</button>
					</td>
					<td>Button</td>
					<td>Cheer</td>
					<td>Often</td>
					<td>Primary Button</td>
				</tr>
				<tr>
					<td>
						<button class="btn btn-flat-firm">Button</button>
					</td>
					<td>Button</td>
					<td>Murmur</td>
					<td>Occasionally</td>
					<td>Secondary Button</td>
				</tr>
				<tr>
					<td>
						<button class="btn btn-success">Button</button>
					</td>
					<td>Button</td>
					<td>Shout</td>
					<td>Selectively</td>
					<td>Action, save</td>
				</tr>
				<tr>
					<td>
						<button class="btn btn-median">Button</button>
					</td>
					<td>Button</td>
					<td>Substitute</td>
					<td>Occasionally</td>
					<td>Tertiary Button</td>
				</tr>
				<tr>
					<td>
						<button class="btn btn-danger">Button</button>
					</td>
					<td>Button</td>
					<td>Yell</td>
					<td>Rare</td>
					<td>Delete Confirmation</td>
				</tr>
				<tr>
					<td>
						<button class="btn btn-disabled">Button</button>
					</td>
					<td>Button</td>
					<td>Mute</td>
					<td>Occasionally</td>
					<td>Disabled</td>
				</tr>
				<tr>
					<td>
						<button class="btn btn-prime">Button</button>
					</td>
					<td>Button</td>
					<td>Cheer</td>
					<td>Often</td>
					<td>Primary button - <em>jobseekers</em></td>
				</tr>
				<tr>
					<td>
						<a class="link">Primary</a>
					</td>
					<td>Link</td>
					<td>Whistle</td>
					<td>Often</td>
					<td>Primary text link</td>
				</tr>
				<tr>
					<td>
						<a href="#!" class="link is-grey">Secondary</a>
					</td>
					<td>Link</td>
					<td>Whisper</td>
					<td>Occasionally</td>
					<td>Secondary text link</td>
				</tr>
			</tbody>
		</table>
	</section>
	<section>
		<h4>All Buttons</h4>

		<h6>Button (Default)</h6>
		<button class="btn btn-large">Button Large</button>
		<button class="btn">Button Default</button>
		<button class="btn btn-small">Button Small</button>
		<section class="code-preview has-tab">
			<div class="card uh-tab">
				<nav class="uh-tab-nav">
					<a  class="nav-item nav-fit-content active" href="#html-1" id="html-tab">HTML</a>
					<a  class="nav-item nav-fit-content" href="#sass-1" id="sass-tab">SASS</a>
				</nav>
			</div>
			<pre class="code-snippet" id="html-1"><code>&lt;button class=&quot;btn btn-large&quot;&gt;Button Large&lt;/button&gt;
&lt;button class=&quot;btn&quot;&gt;Button Default&lt;/button&gt;
&lt;button class=&quot;btn btn-small&quot;&gt;Button Small&lt;/button&gt;</code></pre>
			<pre class="code-snippet display-off" id="sass-1"><code>
.btn {
	background-color: $c-grey-1;
	font-size: $font-s;
	color: $c-grey-5;
	padding: 0 1rem;
	line-height: 38px;
	border: solid 1px transparent;
	letter-spacing: 0.035em;
	outline: none;
	display: inline-block;
	display: inline-flex;
	text-decoration: none;
	@include radius;
	@extend .transition;
	&:hover {
		cursor: pointer;
		background-color: darken($c-grey-1, 2%);
	}
	&:focus {
		background-color: darken($c-grey-1, 4%);
		@include box-shadow(0 0 0 3px rgba($c-grey-6, 0.15));
	}
}

.btn-small {
	font-size: $font-s;
	padding: 0 0.5rem;
	line-height: 28px;
}

.btn-medium {
	font-size: $font-m;
	padding: 0 1rem;
	line-height: 38px;
}

.btn-large {
	font-size: $font-l;
	padding: 0 1rem;
	line-height: 48px;
}
			</code></pre>
		</section>

		<h6>Button Firm</h6>
		<button class="btn btn-firm btn-large">Button Large</button>
		<button class="btn btn-firm">Button Default</button>
		<button class="btn btn-firm btn-small">Button Small</button>
		<section class="code-preview has-tab">
			<div class="card uh-tab">
				<nav class="uh-tab-nav">
					<a  class="nav-item nav-fit-content active" href="#html-2" id="html-tab">HTML</a>
					<a  class="nav-item nav-fit-content" href="#sass-2" id="sass-tab">SASS</a>
				</nav>
			</div>
			<pre class="code-snippet" id="html-2"><code>&lt;button class=&quot;btn btn-firm btn-large&quot;&gt;Button Large&lt;/button&gt;
&lt;button class=&quot;btn btn-firm&quot;&gt;Button Default&lt;/button&gt;
&lt;button class=&quot;btn btn-firm btn-small&quot;&gt;Button Small&lt;/button&gt;</code></pre>
			<pre class="code-snippet display-off" id="sass-2"><code>
.btn {
	background-color: $c-grey-1;
	font-size: $font-s;
	color: $c-grey-5;
	padding: 0 1rem;
	line-height: 38px;
	border: solid 1px transparent;
	letter-spacing: 0.035em;
	outline: none;
	display: inline-block;
	display: inline-flex;
	text-decoration: none;
	@include radius;
	@extend .transition;
	&:hover {
		cursor: pointer;
		background-color: darken($c-grey-1, 2%);
	}
	&:focus {
		background-color: darken($c-grey-1, 4%);
		@include box-shadow(0 0 0 3px rgba($c-grey-6, 0.15));
	}
}

.btn-firm {
	background-color: $c-firm-1;
	color: white;
	&:hover {
		background-color: $c-firm-2;
	}
	&:focus {
		background-color: $c-firm-3;
		@include box-shadow(0 0 0 3px rgba($c-firm-1, 0.15));
	}
}

.btn-small {
	font-size: $font-s;
	padding: 0 0.5rem;
	line-height: 28px;
}

.btn-medium {
	font-size: $font-m;
	padding: 0 1rem;
	line-height: 38px;
}

.btn-large {
	font-size: $font-l;
	padding: 0 1rem;
	line-height: 48px;
}
			</code></pre>
		</section>

		<h6>Button Median</h6>
		<button class="btn btn-median btn-large">Button Large</button>
		<button class="btn btn-median">Button Default</button>
		<button class="btn btn-median btn-small">Button Small</button>
		<section class="code-preview has-tab">
			<div class="card uh-tab">
				<nav class="uh-tab-nav">
					<a  class="nav-item nav-fit-content active" href="#html-3" id="html-tab">HTML</a>
					<a  class="nav-item nav-fit-content" href="#sass-3" id="sass-tab">SASS</a>
				</nav>
			</div>
			<pre class="code-snippet" id="html-3"><code>&lt;button class=&quot;btn btn-median btn-large&quot;&gt;Button Large&lt;/button&gt;
&lt;button class=&quot;btn btn-median&quot;&gt;Button Default&lt;/button&gt;
&lt;button class=&quot;btn btn-median btn-small&quot;&gt;Button Small&lt;/button&gt;</code></pre>
			<pre class="code-snippet display-off" id="sass-3"><code>
.btn {
	background-color: $c-grey-1;
	font-size: $font-s;
	color: $c-grey-5;
	padding: 0 1rem;
	line-height: 38px;
	border: solid 1px transparent;
	letter-spacing: 0.035em;
	outline: none;
	display: inline-block;
	display: inline-flex;
	text-decoration: none;
	@include radius;
	@extend .transition;
	&:hover {
		cursor: pointer;
		background-color: darken($c-grey-1, 2%);
	}
	&:focus {
		background-color: darken($c-grey-1, 4%);
		@include box-shadow(0 0 0 3px rgba($c-grey-6, 0.15));
	}
}

.btn-median {
	background-color: $c-median-1;
	color: white;
	&:hover {
		background-color: $c-median-2;
	}
	&:focus {
		background-color: $c-median-3;
		@include box-shadow(0 0 0 3px rgba($c-median-1, 0.15));
	}
}

.btn-small {
	font-size: $font-s;
	padding: 0 0.5rem;
	line-height: 28px;
}

.btn-medium {
	font-size: $font-m;
	padding: 0 1rem;
	line-height: 38px;
}

.btn-large {
	font-size: $font-l;
	padding: 0 1rem;
	line-height: 48px;
}
			</code></pre>
		</section>

		<h6>Button Prime</h6>
		<button class="btn btn-prime btn-large">Button Large</button>
		<button class="btn btn-prime">Button Default</button>
		<button class="btn btn-prime btn-small">Button Small</button>
		<section class="code-preview has-tab">
			<div class="card uh-tab">
				<nav class="uh-tab-nav">
					<a  class="nav-item nav-fit-content active" href="#html-4" id="html-tab">HTML</a>
					<a  class="nav-item nav-fit-content" href="#sass-4" id="sass-tab">SASS</a>
				</nav>
			</div>
			<pre class="code-snippet" id="html-4"><code>&lt;button class=&quot;btn btn-prime btn-large&quot;&gt;Button Large&lt;/button&gt;
&lt;button class=&quot;btn btn-prime&quot;&gt;Button Default&lt;/button&gt;
&lt;button class=&quot;btn btn-prime btn-small&quot;&gt;Button Small&lt;/button&gt;</code></pre>
			<pre class="code-snippet display-off" id="sass-4"><code>
.btn {
	background-color: $c-grey-1;
	font-size: $font-s;
	color: $c-grey-5;
	padding: 0 1rem;
	line-height: 38px;
	border: solid 1px transparent;
	letter-spacing: 0.035em;
	outline: none;
	display: inline-block;
	display: inline-flex;
	text-decoration: none;
	@include radius;
	@extend .transition;
	&:hover {
		cursor: pointer;
		background-color: darken($c-grey-1, 2%);
	}
	&:focus {
		background-color: darken($c-grey-1, 4%);
		@include box-shadow(0 0 0 3px rgba($c-grey-6, 0.15));
	}
}

.btn-prime {
	background-color: $c-prime-1;
	color: white;
	&:hover {
		background-color: $c-prime-2;
	}
	&:focus {
		background-color: $c-prime-3;
		@include box-shadow(0 0 0 3px rgba($c-prime-1, 0.15));
	}
}

.btn-small {
	font-size: $font-s;
	padding: 0 0.5rem;
	line-height: 28px;
}

.btn-medium {
	font-size: $font-m;
	padding: 0 1rem;
	line-height: 38px;
}

.btn-large {
	font-size: $font-l;
	padding: 0 1rem;
	line-height: 48px;
}
			</code></pre>
		</section>

		<h6>Button Success</h6>
		<button class="btn btn-success btn-large">Button Large</button>
		<button class="btn btn-success">Button Default</button>
		<button class="btn btn-success btn-small">Button Small</button>
		<section class="code-preview has-tab">
			<div class="card uh-tab">
				<nav class="uh-tab-nav">
					<a  class="nav-item nav-fit-content active" href="#html-5" id="html-tab">HTML</a>
					<a  class="nav-item nav-fit-content" href="#sass-5" id="sass-tab">SASS</a>
				</nav>
			</div>
			<pre class="code-snippet" id="html-5" ><code>&lt;button class=&quot;btn btn-success btn-large&quot;&gt;Button Large&lt;/button&gt;
&lt;button class=&quot;btn btn-success&quot;&gt;Button Default&lt;/button&gt;
&lt;button class=&quot;btn btn-success btn-small&quot;&gt;Button Small&lt;/button&gt;</code></pre>
			<pre class="code-snippet display-off" id="sass-5"><code>
.btn {
	background-color: $c-grey-1;
	font-size: $font-s;
	color: $c-grey-5;
	padding: 0 1rem;
	line-height: 38px;
	border: solid 1px transparent;
	letter-spacing: 0.035em;
	outline: none;
	display: inline-block;
	display: inline-flex;
	text-decoration: none;
	@include radius;
	@extend .transition;
	&:hover {
		cursor: pointer;
		background-color: darken($c-grey-1, 2%);
	}
	&:focus {
		background-color: darken($c-grey-1, 4%);
		@include box-shadow(0 0 0 3px rgba($c-grey-6, 0.15));
	}
}

.btn-success {
	background-color: $c-green-1;
	color: white;
	&:hover {
		background-color: $c-green-2;
		//background-color:$c-green-2;
	}
	&:focus {
		background-color: $c-green-3;
		@include box-shadow(0 0 0 3px rgba($c-green-1, 0.15));
	}
}

.btn-small {
	font-size: $font-s;
	padding: 0 0.5rem;
	line-height: 28px;
}

.btn-medium {
	font-size: $font-m;
	padding: 0 1rem;
	line-height: 38px;
}

.btn-large {
	font-size: $font-l;
	padding: 0 1rem;
	line-height: 48px;
}
			</code></pre>
		</section>

		<h6>Button Danger</h6>
		<button class="btn btn-danger btn-large">Button Large</button>
		<button class="btn btn-danger">Button Default</button>
		<button class="btn btn-danger btn-small">Button Small</button>
		<section class="code-preview has-tab">
			<div class="card uh-tab">
				<nav class="uh-tab-nav">
					<a  class="nav-item nav-fit-content active" href="#html-6" id="html-tab">HTML</a>
					<a  class="nav-item nav-fit-content" href="#sass-6" id="sass-tab">SASS</a>
				</nav>
			</div>
			<pre class="code-snippet" id="html-6"><code>&lt;button class=&quot;btn btn-danger btn-large&quot;&gt;Button Large&lt;/button&gt;
&lt;button class=&quot;btn btn-danger&quot;&gt;Button Default&lt;/button&gt;
&lt;button class=&quot;btn btn-danger btn-small&quot;&gt;Button Small&lt;/button&gt;</code></pre>
			<pre class="code-snippet display-off" id="sass-6"><code>
.btn {
	background-color: $c-grey-1;
	font-size: $font-s;
	color: $c-grey-5;
	padding: 0 1rem;
	line-height: 38px;
	border: solid 1px transparent;
	letter-spacing: 0.035em;
	outline: none;
	display: inline-block;
	display: inline-flex;
	text-decoration: none;
	@include radius;
	@extend .transition;
	&:hover {
		cursor: pointer;
		background-color: darken($c-grey-1, 2%);
	}
	&:focus {
		background-color: darken($c-grey-1, 4%);
		@include box-shadow(0 0 0 3px rgba($c-grey-6, 0.15));
	}
}

.btn-danger {
	background-color: $c-red-1;
	color: white;
	&:hover {
		background-color: $c-red-2;
	}
	&:focus {
		background-color: $c-red-3;
		@include box-shadow(0 0 0 3px rgba($c-red-1, 0.15));
	}
}

.btn-small {
	font-size: $font-s;
	padding: 0 0.5rem;
	line-height: 28px;
}

.btn-medium {
	font-size: $font-m;
	padding: 0 1rem;
	line-height: 38px;
}

.btn-large {
	font-size: $font-l;
	padding: 0 1rem;
	line-height: 48px;
}
			</code></pre>
		</section>

		<h6>Button Disabled</h6>
		<button class="btn btn-disabled btn-large">Button Large</button>
		<button class="btn btn-disabled">Button Default</button>
		<button class="btn btn-disabled btn-small">Button Small</button>
		<section class="code-preview has-tab">
			<div class="card uh-tab">
				<nav class="uh-tab-nav">
					<a  class="nav-item nav-fit-content active" href="#html-7" id="html-tab">HTML</a>
					<a  class="nav-item nav-fit-content" href="#sass-7" id="sass-tab">SASS</a>
				</nav>
			</div>
			<pre class="code-snippet" id="html-7"><code>&lt;button class=&quot;btn btn-disabled btn-large&quot;&gt;Button Large&lt;/button&gt;
&lt;button class=&quot;btn btn-disabled&quot;&gt;Button Default&lt;/button&gt;
&lt;button class=&quot;btn btn-disabled btn-small&quot;&gt;Button Small&lt;/button&gt;</code></pre>
			<pre class="code-snippet display-off" id="sass-7"><code>
.btn {
	background-color: $c-grey-1;
	font-size: $font-s;
	color: $c-grey-5;
	padding: 0 1rem;
	line-height: 38px;
	border: solid 1px transparent;
	letter-spacing: 0.035em;
	outline: none;
	display: inline-block;
	display: inline-flex;
	text-decoration: none;
	@include radius;
	@extend .transition;
	&:hover {
		cursor: pointer;
		background-color: darken($c-grey-1, 2%);
	}
	&:focus {
		background-color: darken($c-grey-1, 4%);
		@include box-shadow(0 0 0 3px rgba($c-grey-6, 0.15));
	}
}

.btn[disabled="true"],
.btn-disabled {
	background-color: $c-grey-2;
	color: $c-grey-3;
	cursor: not-allowed;
	&:hover {
		background-color: $c-grey-2;
		color: $c-grey-3;
		cursor: not-allowed;
	}
	&:focus {
		background-color: $c-grey-2;
		@include box-shadow(0 0 0 3px rgba($c-grey-5, 0.15));
	}
}

.btn-small {
	font-size: $font-s;
	padding: 0 0.5rem;
	line-height: 28px;
}

.btn-medium {
	font-size: $font-m;
	padding: 0 1rem;
	line-height: 38px;
}

.btn-large {
	font-size: $font-l;
	padding: 0 1rem;
	line-height: 48px;
}
			</code></pre>
		</section>

		<h6>Button Flat Firm</h6>
		<button class="btn btn-flat-firm btn-large">Button Large</button>
		<button class="btn btn-flat-firm">Button Default</button>
		<button class="btn btn-flat-firm btn-small">Button Small</button>
		<section class="code-preview has-tab">
			<div class="card uh-tab">
				<nav class="uh-tab-nav">
					<a  class="nav-item nav-fit-content active" href="#html-8" id="html-tab">HTML</a>
					<a  class="nav-item nav-fit-content" href="#sass-8" id="sass-tab">SASS</a>
				</nav>
			</div>
			<pre class="code-snippet" id="html-8"><code>&lt;button class=&quot;btn btn-flat-firm btn-large&quot;&gt;Button Large&lt;/button&gt;
&lt;button class=&quot;btn btn-flat-firm&quot;&gt;Button Default&lt;/button&gt;
&lt;button class=&quot;btn btn-flat-firm btn-small&quot;&gt;Button Small&lt;/button&gt;</code></pre>
			<pre class="code-snippet display-off" id="sass-8"><code>
.btn {
	background-color: $c-grey-1;
	font-size: $font-s;
	color: $c-grey-5;
	padding: 0 1rem;
	line-height: 38px;
	border: solid 1px transparent;
	letter-spacing: 0.035em;
	outline: none;
	display: inline-block;
	display: inline-flex;
	text-decoration: none;
	@include radius;
	@extend .transition;
	&:hover {
		cursor: pointer;
		background-color: darken($c-grey-1, 2%);
	}
	&:focus {
		background-color: darken($c-grey-1, 4%);
		@include box-shadow(0 0 0 3px rgba($c-grey-6, 0.15));
	}
}

.btn-flat-firm {
	background-color: rgba($c-firm-1, .035);
	border: solid 1px $c-firm-1;
	color: $c-firm-1;
	&:hover {
		background-color: rgba($c-firm-1, 0.08);
	}
	&:focus {
		background-color: rgba($c-firm-1, 0.15);
		@include box-shadow(0 0 0 3px rgba($c-firm-1, 0.15));
	}
}

.btn-small {
	font-size: $font-s;
	padding: 0 0.5rem;
	line-height: 28px;
}

.btn-medium {
	font-size: $font-m;
	padding: 0 1rem;
	line-height: 38px;
}

.btn-large {
	font-size: $font-l;
	padding: 0 1rem;
	line-height: 48px;
}
			</code></pre>
		</section>
		<h6>Button Flat Median</h6>
		<button class="btn btn-flat-median btn-large">Button Large</button>
		<button class="btn btn-flat-median">Button Default</button>
		<button class="btn btn-flat-median btn-small">Button Small</button>
		<section class="code-preview has-tab">
			<div class="card uh-tab">
				<nav class="uh-tab-nav">
					<a  class="nav-item nav-fit-content active" href="#html-9" id="html-tab">HTML</a>
					<a  class="nav-item nav-fit-content" href="#sass-9" id="sass-tab">SASS</a>
				</nav>
			</div>
			<pre class="code-snippet" id="html-9"><code>&lt;button class=&quot;btn btn-flat-median btn-large&quot;&gt;Button Large&lt;/button&gt;
&lt;button class=&quot;btn btn-flat-median&quot;&gt;Button Default&lt;/button&gt;
&lt;button class=&quot;btn btn-flat-median btn-small&quot;&gt;Button Small&lt;/button&gt;</code></pre>
			<pre class="code-snippet display-off" id="sass-9"><code>
.btn {
	background-color: $c-grey-1;
	font-size: $font-s;
	color: $c-grey-5;
	padding: 0 1rem;
	line-height: 38px;
	border: solid 1px transparent;
	letter-spacing: 0.035em;
	outline: none;
	display: inline-block;
	display: inline-flex;
	text-decoration: none;
	@include radius;
	@extend .transition;
	&:hover {
		cursor: pointer;
		background-color: darken($c-grey-1, 2%);
	}
	&:focus {
		background-color: darken($c-grey-1, 4%);
		@include box-shadow(0 0 0 3px rgba($c-grey-6, 0.15));
	}
}

.btn-flat-median {
	background-color: rgba($c-median-1, .035);
	border: solid 1px $c-median-1;
	color: $c-median-1;
	&:hover {
		background-color: rgba($c-median-1, 0.08);
	}
	&:focus {
		background-color: rgba($c-median-1, 0.15);
		@include box-shadow(0 0 0 3px rgba($c-median-1, 0.15));
	}
}

.btn-small {
	font-size: $font-s;
	padding: 0 0.5rem;
	line-height: 28px;
}

.btn-medium {
	font-size: $font-m;
	padding: 0 1rem;
	line-height: 38px;
}

.btn-large {
	font-size: $font-l;
	padding: 0 1rem;
	line-height: 48px;
}
			</code></pre>
		</section>
		<h6>Button Flat Success</h6>
		<button class="btn btn-flat-success btn-large">Button Large</button>
		<button class="btn btn-flat-success">Button Default</button>
		<button class="btn btn-flat-success btn-small">Button Small</button>
		<section class="code-preview has-tab">
			<div class="card uh-tab">
				<nav class="uh-tab-nav">
					<a  class="nav-item nav-fit-content active" href="#html-10" id="html-tab">HTML</a>
					<a  class="nav-item nav-fit-content" href="#sass-10" id="sass-tab">SASS</a>
				</nav>
			</div>
			<pre class="code-snippet" id="html-10"><code>&lt;button class=&quot;btn btn-flat-success btn-large&quot;&gt;Button Large&lt;/button&gt;
&lt;button class=&quot;btn btn-flat-success&quot;&gt;Button Default&lt;/button&gt;
&lt;button class=&quot;btn btn-flat-success btn-small&quot;&gt;Button Small&lt;/button&gt;</code></pre>
			<pre class="code-snippet display-off" id="sass-10"><code>
.btn {
	background-color: $c-grey-1;
	font-size: $font-s;
	color: $c-grey-5;
	padding: 0 1rem;
	line-height: 38px;
	border: solid 1px transparent;
	letter-spacing: 0.035em;
	outline: none;
	display: inline-block;
	display: inline-flex;
	text-decoration: none;
	@include radius;
	@extend .transition;
	&:hover {
		cursor: pointer;
		background-color: darken($c-grey-1, 2%);
	}
	&:focus {
		background-color: darken($c-grey-1, 4%);
		@include box-shadow(0 0 0 3px rgba($c-grey-6, 0.15));
	}
}

.btn-flat-success {
	background-color: rgba($c-green-1, .035);
	border: solid 1px $c-green-1;
	color: $c-green-1;
	&:hover {
		background-color: rgba($c-green-1, 0.08);
	}
	&:focus {
		background-color: rgba($c-green-1, 0.15);
		@include box-shadow(0 0 0 3px rgba($c-green-1, 0.15));
	}
}

.btn-small {
	font-size: $font-s;
	padding: 0 0.5rem;
	line-height: 28px;
}

.btn-medium {
	font-size: $font-m;
	padding: 0 1rem;
	line-height: 38px;
}

.btn-large {
	font-size: $font-l;
	padding: 0 1rem;
	line-height: 48px;
}
			</code></pre>
		</section>
		<h6>Button Flat Danger</h6>
		<button class="btn btn-flat-danger btn-large">Button Large</button>
		<button class="btn btn-flat-danger">Button Default</button>
		<button class="btn btn-flat-danger btn-small">Button Small</button>
		<section class="code-preview has-tab">
			<div class="card uh-tab">
				<nav class="uh-tab-nav">
					<a  class="nav-item nav-fit-content active" href="#html-11" id="html-tab">HTML</a>
					<a  class="nav-item nav-fit-content" href="#sass-11" id="sass-tab">SASS</a>
				</nav>
			</div>
			<pre class="code-snippet" id="html-11"><code>&lt;button class=&quot;btn btn-flat-danger btn-large&quot;&gt;Button Large&lt;/button&gt;
&lt;button class=&quot;btn btn-flat-danger&quot;&gt;Button Default&lt;/button&gt;
&lt;button class=&quot;btn btn-flat-danger btn-small&quot;&gt;Button Small&lt;/button&gt;</code></pre>
			<pre class="code-snippet display-off" id="sass-11"><code>
.btn {
	background-color: $c-grey-1;
	font-size: $font-s;
	color: $c-grey-5;
	padding: 0 1rem;
	line-height: 38px;
	border: solid 1px transparent;
	letter-spacing: 0.035em;
	outline: none;
	display: inline-block;
	display: inline-flex;
	text-decoration: none;
	@include radius;
	@extend .transition;
	&:hover {
		cursor: pointer;
		background-color: darken($c-grey-1, 2%);
	}
	&:focus {
		background-color: darken($c-grey-1, 4%);
		@include box-shadow(0 0 0 3px rgba($c-grey-6, 0.15));
	}
}

.btn-flat-danger {
	background-color: rgba($c-red-1, .035);
	border: solid 1px $c-red-1;
	color: $c-red-1;
	&:hover {
		background-color: rgba($c-red-1, 0.08);
	}
	&:focus {
		background-color: rgba($c-red-1, 0.15);
		@include box-shadow(0 0 0 3px rgba($c-red-1, 0.15));
	}
}

.btn-small {
	font-size: $font-s;
	padding: 0 0.5rem;
	line-height: 28px;
}

.btn-medium {
	font-size: $font-m;
	padding: 0 1rem;
	line-height: 38px;
}

.btn-large {
	font-size: $font-l;
	padding: 0 1rem;
	line-height: 48px;
}
			</code></pre>
		</section>
		<h6>Button Flat Prime</h6>
		<button class="btn btn-flat-prime btn-large">Button Large</button>
		<button class="btn btn-flat-prime">Button Default</button>
		<button class="btn btn-flat-prime btn-small">Button Small</button>
		<section class="code-preview has-tab">
			<div class="card uh-tab">
				<nav class="uh-tab-nav">
					<a  class="nav-item nav-fit-content active" href="#html-12" id="html-tab">HTML</a>
					<a  class="nav-item nav-fit-content" href="#sass-12" id="sass-tab">SASS</a>
				</nav>
			</div>
			<pre class="code-snippet" id="html-12"><code>&lt;button class=&quot;btn btn-flat-prime btn-large&quot;&gt;Button Large&lt;/button&gt;
&lt;button class=&quot;btn btn-flat-prime&quot;&gt;Button Default&lt;/button&gt;
&lt;button class=&quot;btn btn-flat-prime btn-small&quot;&gt;Button Small&lt;/button&gt;</code></pre>
			<pre class="code-snippet display-off" id="sass-12"><code>
.btn {
	background-color: $c-grey-1;
	font-size: $font-s;
	color: $c-grey-5;
	padding: 0 1rem;
	line-height: 38px;
	border: solid 1px transparent;
	letter-spacing: 0.035em;
	outline: none;
	display: inline-block;
	display: inline-flex;
	text-decoration: none;
	@include radius;
	@extend .transition;
	&:hover {
		cursor: pointer;
		background-color: darken($c-grey-1, 2%);
	}
	&:focus {
		background-color: darken($c-grey-1, 4%);
		@include box-shadow(0 0 0 3px rgba($c-grey-6, 0.15));
	}
}

.btn-flat-prime {
	background-color: rgba($c-prime-1, .035);
	border: solid 1px $c-prime-1;
	color: $c-prime-1;
	&:hover {
		background-color: rgba($c-prime-1, 0.08);
	}
	&:focus {
		background-color: rgba($c-prime-1, 0.15);
		@include box-shadow(0 0 0 3px rgba($c-prime-1, 0.15));
	}
}

.btn-small {
	font-size: $font-s;
	padding: 0 0.5rem;
	line-height: 28px;
}

.btn-medium {
	font-size: $font-m;
	padding: 0 1rem;
	line-height: 38px;
}

.btn-large {
	font-size: $font-l;
	padding: 0 1rem;
	line-height: 48px;
}
			</code></pre>
		</section>
		<h6>Button Flat Grey</h6>
		<button class="btn btn-flat-grey btn-large">Button Large</button>
		<button class="btn btn-flat-grey">Button Default</button>
		<button class="btn btn-flat-grey btn-small">Button Small</button>
		<section class="code-preview has-tab">
			<div class="card uh-tab">
				<nav class="uh-tab-nav">
					<a  class="nav-item nav-fit-content active" href="#html-13" id="html-tab">HTML</a>
					<a  class="nav-item nav-fit-content" href="#sass-13" id="sass-tab">SASS</a>
				</nav>
			</div>
			<pre class="code-snippet" id="html-13"><code>&lt;button class=&quot;btn btn-flat-grey btn-large&quot;&gt;Button Large&lt;/button&gt;
&lt;button class=&quot;btn btn-flat-grey&quot;&gt;Button Default&lt;/button&gt;
&lt;button class=&quot;btn btn-flat-grey btn-small&quot;&gt;Button Small&lt;/button&gt;</code></pre>
			<pre class="code-snippet display-off" id="sass-13"><code>
.btn {
	background-color: $c-grey-1;
	font-size: $font-s;
	color: $c-grey-5;
	padding: 0 1rem;
	line-height: 38px;
	border: solid 1px transparent;
	letter-spacing: 0.035em;
	outline: none;
	display: inline-block;
	display: inline-flex;
	text-decoration: none;
	@include radius;
	@extend .transition;
	&:hover {
		cursor: pointer;
		background-color: darken($c-grey-1, 2%);
	}
	&:focus {
		background-color: darken($c-grey-1, 4%);
		@include box-shadow(0 0 0 3px rgba($c-grey-6, 0.15));
	}
}

.btn-flat-grey {
	background-color: rgba($c-grey-4, .035);
	border: solid 1px $c-grey-5;
	color: $c-grey-5;
	&:hover {
		background-color: rgba($c-grey-4, 0.08);
	}
	&:focus {
		background-color: rgba($c-grey-4, 0.15);
		@include box-shadow(0 0 0 3px rgba($c-grey-4, 0.15));
	}
}

.btn-small {
	font-size: $font-s;
	padding: 0 0.5rem;
	line-height: 28px;
}

.btn-medium {
	font-size: $font-m;
	padding: 0 1rem;
	line-height: 38px;
}

.btn-large {
	font-size: $font-l;
	padding: 0 1rem;
	line-height: 48px;
}
			</code></pre>
	</section>
	<section>
		<h4>Button Variants</h4>
		<a href="#!" class="btn btn-median">Button link</a>
		<button class="btn btn-median">Button type</button>
		<input type="submit" class="btn btn-median" name="" value="Button submit">
		<section class="code-preview has-tab">
			<div class="card uh-tab">
				<nav class="uh-tab-nav">
					<a  class="nav-item nav-fit-content active" href="#html-14" id="html-tab">HTML</a>
					<a  class="nav-item nav-fit-content" href="#sass-14" id="sass-tab">SASS</a>
				</nav>
			</div>
			<pre class="code-snippet" id="html-14"><code>&lt;a href=&quot;#!&quot; class=&quot;btn btn-median&quot;&gt;Button link&lt;/a&gt;
&lt;button class=&quot;btn btn-median&quot;&gt;Button type&lt;/button&gt;
&lt;input type=&quot;submit&quot; class=&quot;btn btn-median&quot; name=&quot;&quot; value=&quot;Button submit&quot;&gt;</code></pre>
			<pre class="code-snippet display-off" id="sass-14"><code>
.btn {
	background-color: $c-grey-1;
	font-size: $font-s;
	color: $c-grey-5;
	padding: 0 1rem;
	line-height: 38px;
	border: solid 1px transparent;
	letter-spacing: 0.035em;
	outline: none;
	display: inline-block;
	display: inline-flex;
	text-decoration: none;
	@include radius;
	@extend .transition;
	&:hover {
		cursor: pointer;
		background-color: darken($c-grey-1, 2%);
	}
	&:focus {
		background-color: darken($c-grey-1, 4%);
		@include box-shadow(0 0 0 3px rgba($c-grey-6, 0.15));
	}
}

.btn-median {
	background-color: $c-median-1;
	color: white;
	&:hover {
		background-color: $c-median-2;
	}
	&:focus {
		background-color: $c-median-3;
		@include box-shadow(0 0 0 3px rgba($c-median-1, 0.15));
	}
}

.btn-small {
	font-size: $font-s;
	padding: 0 0.5rem;
	line-height: 28px;
}

.btn-medium {
	font-size: $font-m;
	padding: 0 1rem;
	line-height: 38px;
}

.btn-large {
	font-size: $font-l;
	padding: 0 1rem;
	line-height: 48px;
}
			</code></pre>
		</section>
	</section>
	<section>
		<h4>Links</h4>
		<ul>
			<li><a href="" class="link">Link Primary</a></li>
			<li><a href="" class="link is-grey">Link Secondary</a></li>
		</ul>
		<section class="code-preview has-tab">
			<div class="card uh-tab">
				<nav class="uh-tab-nav">
					<a  class="nav-item nav-fit-content active" href="#html-15" id="html-tab">HTML</a>
					<a  class="nav-item nav-fit-content" href="#sass-15" id="sass-tab">SASS</a>
				</nav>
			</div>
			<pre class="code-snippet" id="html-15"><code>&lt;a href=&quot;&quot; class=&quot;link&quot;&gt;Link Primary&lt;/a&gt;
&lt;a href=&quot;&quot; class=&quot;link is-grey&quot;&gt;Link Secondary&lt;/a&gt;</code></pre>
			<pre class="code-snippet display-off" id="sass-15"><code>
.link {
	text-decoration: underline;
	color: $c-median-1;
	&:hover {
		color: $c-median-2;
	}
	&:active {
		color: $c-median-3;
	}
	&.is-grey {
		color: $c-grey-4;
		&:hover {
			color: $c-grey-5;
		}
		&:active {
			color: $c-grey-6;
		}
	}
}
			</code></pre>
		</section>
		<h6>Sample Paragraph</h6>
		<article>
			<p>Most people learn to talk when they are relatively young. Gaining in verbal capacity as the get older and
				engage in conversation with more and more people throughout their lives. And while most people will
				spend their time constantly speaking, some never really learn to listen, which is the king of effective
				<a href="#" class="link">communication</a>. It may seem strange to hear such a thing as this,
				but it’s true. Even though it may not sound true to the individual who just spent the last couple
				moments listening to some co-worker blather on about his <a href="#" class="link is-grey">fantasy
					football</a> picks, but it is. Without proper listening, speech communication would just be a lot of
				annoying sounds. Unfortunately, most of the time we spend listening, really is just the process of
				physically absorbing the annoying squawks and squeaks that come out of someone. </p>
		</article>
	</section>
</div>