<div class="container-fluid">
    <section class="page-hero">
        <h1>Chips</h1>
    </section>
    <section>
        <h3>Default</h3>
        <div class="sub-section">
            <div class="chips-group">
                <div class="chip">Plain chip</div>
                <div class="chip">Chip with icon
                    <button><i class="icon-close"></i></button>
                </div>
                <div class="chip chip-dashed">Chip dashed
                    <button><i class="icon-plus"></i></button>
                </div>
                <div class="chip chip-firm">Chip firm
                    <button><i class="icon-close"></i></button>
                </div>
                <div class="chip chip-success">Chip success
                    <button><i class="icon-close"></i></button>
                </div>
                <div class="chip chip-danger">Chip danger
                    <button><i class="icon-close"></i></button>
                </div>
                <div class="chip chip-warning">Chip warning
                    <button><i class="icon-close"></i></button>
                </div>
                <div class="chip chip-median">Chip median
                    <button><i class="icon-close"></i></button>
                </div>
            </div>
        </div>
        <pre><code>&lt;div class=&quot;chip&quot;&gt;Plain chip&lt;/div&gt;
&lt;div class=&quot;chip&quot;&gt;Chip with icon
    &lt;button class=&quot;btn btn-flat btn-small&quot;&gt;&lt;i class=&quot;icon icon-close&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;/div&gt;
&lt;div class=&quot;chip chip-dashed&quot;&gt;Chip dashed
    &lt;button class=&quot;btn btn-flat btn-small&quot;&gt;&lt;i class=&quot;icon icon-plus&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;/div&gt;
&lt;div class=&quot;chip chip-firm&quot;&gt;Chip firm
    &lt;button class=&quot;btn btn-flat btn-small&quot;&gt;&lt;i class=&quot;icon icon-close&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;/div&gt;
&lt;div class=&quot;chip chip-success&quot;&gt;Chip success
    &lt;button class=&quot;btn btn-flat btn-small&quot;&gt;&lt;i class=&quot;icon icon-close&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;/div&gt;
&lt;div class=&quot;chip chip-danger&quot;&gt;Chip danger
    &lt;button class=&quot;btn btn-flat btn-small&quot;&gt;&lt;i class=&quot;icon icon-close&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;/div&gt;
&lt;div class=&quot;chip chip-warning&quot;&gt;Chip warning
    &lt;button class=&quot;btn btn-flat btn-small&quot;&gt;&lt;i class=&quot;icon icon-close&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;/div&gt;
&lt;div class=&quot;chip chip-median&quot;&gt;Chip median
    &lt;button class=&quot;btn btn-flat btn-small&quot;&gt;&lt;i class=&quot;icon icon-close&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;/div&gt;</code></pre>
    </section>
</div>