<div class="container-fluid">
	<section class="page-hero">
		<h1>Dropdown</h1>
    </section>
    <section>
        <h4>Dropdowns</h4>
        <div class="dropdown-menu">Grey
            <div class="dropdown-icon"><i class="icon-angle-down"></i></div>
        </div>
        <div class="dropdown-menu is-success ">Success
            <div class="dropdown-icon is-success"><i class="icon-angle-down"></i></div>
        </div>
        <div class="dropdown-menu is-firm ">Firm
            <div class="dropdown-icon is-firm"><i class="icon-angle-down"></i></div>
        </div>
        <div class="dropdown-menu is-median ">Median
            <div class="dropdown-icon is-median"><i class="icon-angle-down"></i></div>
        </div>
        <h4>Dropdowns hover</h4>
        <li class="has-children is-active">
            <div class="dropdown-menu has-children is-active">Success
                <div class="dropdown-icon"><i class="icon-angle-down"></i></div>
            </div>
            <ul>
                <li>
                    <a>Option-1</a>
                </li>
                <li>
                    <a>Option-2</a>
                </li>
            </ul>
        </li>
        

    </section>
</div>