<div class="container-fluid">
	<section class="page-hero">
		<h1>Dropdown</h1>
    </section>
    <section>
        <h4>Dropdowns</h4>
        <div class="dropdown-menu">Grey
            <div class="dropdown-icon"><i class="icon-angle-down"></i></div>
        </div>
        <div class="dropdown-menu is-success ">Success
            <div class="dropdown-icon is-success"><i class="icon-angle-down"></i></div>
        </div>
        <div class="dropdown-menu is-firm ">Firm
            <div class="dropdown-icon is-firm"><i class="icon-angle-down"></i></div>
        </div>
        <div class="dropdown-menu is-median ">Median
            <div class="dropdown-icon is-median"><i class="icon-angle-down"></i></div>
        </div>
        <section class="code-preview has-tab">
            <div class="card uh-tab">
                <nav class="uh-tab-nav">
                    <a  class="nav-item nav-fit-content active" href="#html-1" id="html-tab">HTML</a>
                    <a  class="nav-item nav-fit-content" href="#sass-1" id="sass-tab">SASS</a>
                </nav>
            </div>
            <pre class="code-snippet" id="html-1"><code>&lt;div class=&quot;dropdown-menu&quot;&gt;Grey
    &lt;div class=&quot;dropdown-icon&quot;&gt;&lt;i class=&quot;icon-angle-down&quot;&gt;&lt;/i&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;dropdown-menu is-success &quot;&gt;Success
    &lt;div class=&quot;dropdown-icon is-success&quot;&gt;&lt;i class=&quot;icon-angle-down&quot;&gt;&lt;/i&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;dropdown-menu is-firm &quot;&gt;Firm
    &lt;div class=&quot;dropdown-icon is-firm&quot;&gt;&lt;i class=&quot;icon-angle-down&quot;&gt;&lt;/i&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;dropdown-menu is-median &quot;&gt;Median
    &lt;div class=&quot;dropdown-icon is-median&quot;&gt;&lt;i class=&quot;icon-angle-down&quot;&gt;&lt;/i&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
            <pre class="code-snippet display-off" id="sass-1"><code>
.dropdown-menu,
.dropdown-icon,
.search-icon {
    background-color: $c-grey-1;
    font-size: $font-s;
    color: $c-grey-5;
    padding: 0 0.875rem;
    line-height: 38px;
    border: solid 1px transparent;
    letter-spacing: 0.035em;
    outline: none;
    display: inline-block;
    display: inline-flex;
    text-decoration: none;
    @include radius;
}

.dropdown-menu {
    padding: 0 0 0 0.875rem;
}

.is-success,
.is-firm,
.is-median {
    color: $c-white;
}

.is-success {
    background: $c-green-1;
}

.is-firm {
    background: $c-firm-1;
}

.is-median {
    background: $c-median-1;
}
            </code></pre>
        </section>
        <h4>Dropdowns clicked</h4>
        <div class="has-children is-active float-right">
            <div class="dropdown-menu is-firm">Firm
                <div class="dropdown-icon is-firm"><i class="icon-angle-down"></i></div>
            </div>
            <div class="ul-option">
                <ul class="is-hidden">  
                    <li>
                        <a href="">Option 1</a>
                    </li>
                    <li>
                        <a href="">Option 2</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="has-children is-active">
            <div class="dropdown-menu is-median">Median
                <div class="dropdown-icon is-median"><i class="icon-angle-down"></i></div>
            </div>
            <div class="ul-option">
                <ul class="is-hidden">  
                    <li>
                        <a href="">Option 1</a>
                    </li>
                    <li>
                        <a href="">Option 2</a>
                    </li>
                </ul>
                <ul class="is-hidden">  
                    <li class="is-active">
                        <a href="">Option clicked</a>
                    </li>
                    <li class="is-hover">
                        <a href="">Option hovered</a>
                    </li>
                </ul>
            </div>
        </div> 
        <section class="code-preview has-tab">
            <div class="card uh-tab">
                <nav class="uh-tab-nav">
                    <a  class="nav-item nav-fit-content active" href="#html-2" id="html-tab">HTML</a>
                    <a  class="nav-item nav-fit-content" href="#sass-2" id="sass-tab">SASS</a>
                </nav>
            </div>
            <pre class="code-snippet" id="html-2"><code>&lt;div class=&quot;has-children is-active float-right&quot;&gt;
    &lt;div class=&quot;dropdown-menu is-firm&quot;&gt;Firm
        &lt;div class=&quot;dropdown-icon is-firm&quot;&gt;&lt;i class=&quot;icon-angle-down&quot;&gt;&lt;/i&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;ul-option&quot;&gt;
        &lt;ul class=&quot;is-hidden&quot;&gt;
            &lt;li&gt;
                &lt;a href=&quot;&quot;&gt;Option 1&lt;/a&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href=&quot;&quot;&gt;Option 2&lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;has-children is-active&quot;&gt;
    &lt;div class=&quot;dropdown-menu is-median&quot;&gt;Median
        &lt;div class=&quot;dropdown-icon is-median&quot;&gt;&lt;i class=&quot;icon-angle-down&quot;&gt;&lt;/i&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;ul-option&quot;&gt;
        &lt;ul class=&quot;is-hidden&quot;&gt;
            &lt;li&gt;
                &lt;a href=&quot;&quot;&gt;Option 1&lt;/a&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href=&quot;&quot;&gt;Option 2&lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
        &lt;ul class=&quot;is-hidden&quot;&gt;
            &lt;li class=&quot;is-active&quot;&gt;
                &lt;a href=&quot;&quot;&gt;Option clicked&lt;/a&gt;
            &lt;/li&gt;
            &lt;li class=&quot;is-hover&quot;&gt;
                &lt;a href=&quot;&quot;&gt;Option hovered&lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
            <pre class="code-snippet display-off" id="sass-2"><code>
    .dropdown-menu,
    .dropdown-icon,
    .search-icon {
        background-color: $c-grey-1;
        font-size: $font-s;
        color: $c-grey-5;
        padding: 0 0.875rem;
        line-height: 38px;
        border: solid 1px transparent;
        letter-spacing: 0.035em;
        outline: none;
        display: inline-block;
        display: inline-flex;
        text-decoration: none;
        @include radius;
    }
    
    div.has-children.float-right {
        text-align: right;
    }
    
    div.has-children {
        display: inline-block;
        color: $c-firm-1;
        .ul-option {
            width: 200px;
            background: #ffffff;
            border: 1px solid rgba(221, 221, 221, 0.1);
            @include box-shadow(0 5px 10px 0 rgba(0, 0, 0, 0.2));
            @include radius;
            ul {
                text-align: left;
                margin: 0;
                padding: $gutter-m 0;
                z-index: 4;
                display: none;
                border-bottom: 1px solid #D6D6D6;
                &:last-of-type {
                    border-bottom: none;
                }
                li {
                    &:hover {
                        background: rgba(0, 0, 0, 0.04);
                    }
                    &.is-active {
                        background: rgba(0, 0, 0, 0.08);
                    }
                }
                li,
                .dropdown-searchbar {
                    padding: 0 $gutter-l;
                    display: block;
                    float: none;
                    width: 100%;
                    a {
                        color: $c-grey-5;
                        font-size: $font-s;
                        display: block;
                        line-height: 1em;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    
    
    div.has-children.is-active {
        ul {
            display: block;
        }
    }
    
    .dropdown-menu {
        padding: 0 0 0 0.875rem;
    }
    
    .is-success,
    .is-firm,
    .is-median {
        color: $c-white;
    }
    
    .is-success {
        background: $c-green-1;
    }
    
    .is-firm {
        background: $c-firm-1;
    }
    
    .is-median {
        background: $c-median-1;
    }
            </code></pre>
        </section>
        <h4>Dropdowns contains searchbar</h4>
        <div class="has-children has-searchbar is-active">
            <div class="dropdown-menu">Grey
                <div class="dropdown-icon"><i class="icon-angle-down"></i></div>
            </div>
            <div class="ul-option">
                <ul>  
                    <div class="dropdown-searchbar">
                        <div class="card flex">
                            <input type="text" placeholder="Search...">
                            <div class="search-icon"><i class="icon-search"></i></div>
                        </div>
                    </div>
                    <li>
                        <a href="">Option-2</a>
                    </li>
                </ul>
                <ul>  
                    <li>
                        <a href="">Option-1</a>
                    </li>
                    <li>
                        <a href="">Option-2</a>
                    </li>
                </ul>
            </div>
        </div>
        <section class="code-preview has-tab">
            <div class="card uh-tab">
                <nav class="uh-tab-nav">
                    <a  class="nav-item nav-fit-content active" href="#html-3" id="html-tab">HTML</a>
                    <a  class="nav-item nav-fit-content" href="#sass-3" id="sass-tab">SASS</a>
                </nav>
            </div>
            <pre class="code-snippet" id="html-3"><code>&lt;div class=&quot;has-children has-searchbar is-active&quot;&gt;
    &lt;div class=&quot;dropdown-menu&quot;&gt;Grey
        &lt;div class=&quot;dropdown-icon&quot;&gt;&lt;i class=&quot;icon-angle-down&quot;&gt;&lt;/i&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;ul-option&quot;&gt;
        &lt;ul&gt;
            &lt;div class=&quot;dropdown-searchbar&quot;&gt;
                &lt;div class=&quot;card flex&quot;&gt;
                    &lt;input type=&quot;text&quot; placeholder=&quot;Search...&quot;&gt;
                    &lt;div class=&quot;search-icon&quot;&gt;&lt;i class=&quot;icon-search&quot;&gt;&lt;/i&gt;&lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;li&gt;
                &lt;a href=&quot;&quot;&gt;Option-2&lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
        &lt;ul&gt;
            &lt;li&gt;
                &lt;a href=&quot;&quot;&gt;Option-1&lt;/a&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href=&quot;&quot;&gt;Option-2&lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
            <pre class="code-snippet display-off" id="sass-3"><code>
        .dropdown-menu,
        .dropdown-icon,
        .search-icon {
            background-color: $c-grey-1;
            font-size: $font-s;
            color: $c-grey-5;
            padding: 0 0.875rem;
            line-height: 38px;
            border: solid 1px transparent;
            letter-spacing: 0.035em;
            outline: none;
            display: inline-block;
            display: inline-flex;
            text-decoration: none;
            @include radius;
        }
        
        div.has-children.float-right {
            text-align: right;
        }
        
        div.has-children {
            display: inline-block;
            color: $c-firm-1;
            .ul-option {
                width: 200px;
                background: #ffffff;
                border: 1px solid rgba(221, 221, 221, 0.1);
                @include box-shadow(0 5px 10px 0 rgba(0, 0, 0, 0.2));
                @include radius;
                ul {
                    text-align: left;
                    margin: 0;
                    padding: $gutter-m 0;
                    z-index: 4;
                    display: none;
                    border-bottom: 1px solid #D6D6D6;
                    &:last-of-type {
                        border-bottom: none;
                    }
                    li {
                        &:hover {
                            background: rgba(0, 0, 0, 0.04);
                        }
                        &.is-active {
                            background: rgba(0, 0, 0, 0.08);
                        }
                    }
                    li,
                    .dropdown-searchbar {
                        padding: 0 $gutter-l;
                        display: block;
                        float: none;
                        width: 100%;
                        a {
                            color: $c-grey-5;
                            font-size: $font-s;
                            display: block;
                            line-height: 1em;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        
        .has-searchbar {
            .ul-option ul li {
                li:hover {
                    background: $c-white;
                }
            }
                ::placeholder {
                font-size: 0.875rem;
            }
            .card {
                position: relative;
                input {
                    width: 100%;
                    padding-right: 43px;
                }
            }
            .search-icon {
                cursor: pointer;
                right: 0;
                background: transparent;
                position: absolute;
                color: $c-grey-3;
                i {
                    margin-top: 3px;
                }
            }
        }
        
        div.has-children.is-active {
            ul {
                display: block;
            }
        }
        
        .dropdown-menu {
            padding: 0 0 0 0.875rem;
        }
        
        .is-success,
        .is-firm,
        .is-median {
            color: $c-white;
        }
        
        .is-success {
            background: $c-green-1;
        }
        
        .is-firm {
            background: $c-firm-1;
        }
        
        .is-median {
            background: $c-median-1;
        }
            </code></pre>
        </section>
        <h4>Dropdowns search demo</h4>
        <div class="has-children has-searchbar is-active">
            <div class="dropdown-menu is-success">Grey
                <div class="dropdown-icon is-success"><i class="icon-angle-down"></i></div>
            </div>
            <div class="ul-option">
                <ul id="myUL">  
                    <div class="dropdown-searchbar">
                        <div class="card flex">
                            <input type="text" id="searchInput" placeholder="Search...">
                            <div class="search-icon"><i class="icon-search"></i></div>
                        </div>
                    </div>
                    <li class="li-option">
                        <a href="#">Hello</a>
                    </li>  
                    <li class="li-option">
                        <a href="#">Halo</a>
                    </li>
                    <li class="li-option">
                        <a href="#">Hai</a>
                    </li>
                </ul>
            </div>
        </div>
        <section class="code-preview has-tab">
            <div class="card uh-tab">
                <nav class="uh-tab-nav">
                    <a  class="nav-item nav-fit-content active" href="#html-4" id="html-tab">HTML</a>
                    <a  class="nav-item nav-fit-content" href="#sass-4" id="sass-tab">SASS</a>
                </nav>
            </div>
            <pre class="code-snippet" id="html-4"><code>&lt;div class=&quot;has-children has-searchbar is-active&quot;&gt;
    &lt;div class=&quot;dropdown-menu is-success&quot;&gt;Grey
        &lt;div class=&quot;dropdown-icon is-success&quot;&gt;&lt;i class=&quot;icon-angle-down&quot;&gt;&lt;/i&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;ul-option&quot;&gt;
        &lt;ul id=&quot;myUL&quot;&gt;
            &lt;div class=&quot;dropdown-searchbar&quot;&gt;
                &lt;div class=&quot;card flex&quot;&gt;
                    &lt;input type=&quot;text&quot; id=&quot;searchInput&quot; placeholder=&quot;Search...&quot;&gt;
                    &lt;div class=&quot;search-icon&quot;&gt;&lt;i class=&quot;icon-search&quot;&gt;&lt;/i&gt;&lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;li class=&quot;li-option&quot;&gt;
                &lt;a href=&quot;#&quot;&gt;Hello&lt;/a&gt;
            &lt;/li&gt;
            &lt;li class=&quot;li-option&quot;&gt;
                &lt;a href=&quot;#&quot;&gt;Halo&lt;/a&gt;
            &lt;/li&gt;
            &lt;li class=&quot;li-option&quot;&gt;
                &lt;a href=&quot;#&quot;&gt;Hai&lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
            <pre class="code-snippet display-off" id="sass-4"><code>
        .dropdown-menu,
        .dropdown-icon,
        .search-icon {
            background-color: $c-grey-1;
            font-size: $font-s;
            color: $c-grey-5;
            padding: 0 0.875rem;
            line-height: 38px;
            border: solid 1px transparent;
            letter-spacing: 0.035em;
            outline: none;
            display: inline-block;
            display: inline-flex;
            text-decoration: none;
            @include radius;
        }
        
        div.has-children.float-right {
            text-align: right;
        }
        
        div.has-children {
            display: inline-block;
            color: $c-firm-1;
            .ul-option {
                width: 200px;
                background: #ffffff;
                border: 1px solid rgba(221, 221, 221, 0.1);
                @include box-shadow(0 5px 10px 0 rgba(0, 0, 0, 0.2));
                @include radius;
                ul {
                    text-align: left;
                    margin: 0;
                    padding: $gutter-m 0;
                    z-index: 4;
                    display: none;
                    border-bottom: 1px solid #D6D6D6;
                    &:last-of-type {
                        border-bottom: none;
                    }
                    li {
                        &:hover {
                            background: rgba(0, 0, 0, 0.04);
                        }
                        &.is-active {
                            background: rgba(0, 0, 0, 0.08);
                        }
                    }
                    li,
                    .dropdown-searchbar {
                        padding: 0 $gutter-l;
                        display: block;
                        float: none;
                        width: 100%;
                        a {
                            color: $c-grey-5;
                            font-size: $font-s;
                            display: block;
                            line-height: 1em;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        
        .has-searchbar {
            .ul-option ul li {
                li:hover {
                    background: $c-white;
                }
            }
                ::placeholder {
                font-size: 0.875rem;
            }
            .card {
                position: relative;
                input {
                    width: 100%;
                    padding-right: 43px;
                }
            }
            .search-icon {
                cursor: pointer;
                right: 0;
                background: transparent;
                position: absolute;
                color: $c-grey-3;
                i {
                    margin-top: 3px;
                }
            }
        }
        
        div.has-children.is-active {
            ul {
                display: block;
            }
        }
        
        .dropdown-menu {
            padding: 0 0 0 0.875rem;
        }
        
        .is-success,
        .is-firm,
        .is-median {
            color: $c-white;
        }
        
        .is-success {
            background: $c-green-1;
        }
        
        .is-firm {
            background: $c-firm-1;
        }
        
        .is-median {
            background: $c-median-1;
        }
            </code></pre>
        </section>
    </section>
</div>