<div class="container-fluid">
    <section class="page-hero">
        <h1>Labels</h1>
    </section>
    <section>
		<h4>Label Default <code>.label</code></h4>
		<div class="chips-group">
			<div class="label">Plain label</div>
			<div class="label label-outlined">Label outlines</div>
            <div class="label label-grey">Label flat grey</div>
			<div class="label">Label with icon
				<button><i class="icon-close"></i></button>
			</div>
			<div class="label label-dashed">Label dashed
				<button><i class="icon-plus"></i></button>
			</div>
			<div class="label label-sub-firm">Label sub-firm
				<button><i class="icon-close"></i></button>
			</div>
			<div class="label label-firm">Label firm
				<button><i class="icon-close"></i></button>
			</div>
			<div class="label label-success">Label success
				<button><i class="icon-close"></i></button>
			</div>
			<div class="label label-danger">Label danger
				<button><i class="icon-close"></i></button>
			</div>
			<div class="label label-warning">Label warning
				<button><i class="icon-close"></i></button>
			</div>
			<div class="label label-median">Label median
				<button><i class="icon-close"></i></button>
			</div>
		</div>
		<section class="code-preview has-tab">
			<div class="card uh-tab">
				<nav class="uh-tab-nav">
					<a  class="nav-item nav-fit-content active" href="#html-1" id="html-tab">HTML</a>
					<a  class="nav-item nav-fit-content" href="#sass-1" id="sass-tab">SASS</a>
				</nav>
			</div>
			<pre class="code-snippet" id="html-1"><code>&lt;div class=&quot;chip&quot;&gt;Plain chip&lt;/div&gt;
	
&lt;div class=&quot;chip&quot;&gt;Chip with icon
	&lt;button&gt;&lt;i class=&quot;icon-close&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;/div&gt;

&lt;div class=&quot;chip chip-dashed&quot;&gt;Chip dashed
	&lt;button&gt;&lt;i class=&quot;icon-plus&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;/div&gt;

&lt;div class=&quot;chip chip-firm&quot;&gt;Chip firm
	&lt;button&gt;&lt;i class=&quot;icon-close&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;/div&gt;

&lt;div class=&quot;chip chip-success&quot;&gt;Chip success
	&lt;button&gt;&lt;i class=&quot;icon-close&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;/div&gt;

&lt;div class=&quot;chip chip-danger&quot;&gt;Chip danger
	&lt;button&gt;&lt;i class=&quot;icon-close&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;/div&gt;

&lt;div class=&quot;chip chip-warning&quot;&gt;Chip warning
	&lt;button&gt;&lt;i class=&quot;icon-close&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;/div&gt;

&lt;div class=&quot;chip chip-median&quot;&gt;Chip median
	&lt;button&gt;&lt;i class=&quot;icon-close&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;/div&gt;</code></pre>
			<pre class="code-snippet display-off" id="sass-1"><code>
	.chip {
		display: inline-flex;
		@include flex-middle;
		justify-content: center;
		border-radius: $chip-height / 2;
		background-color: $c-grey-1;
		color: $c-grey-4;
		font-size: 12px;
		padding: 0 $gutter-l;
		height: $chip-height;
		min-width: $chip-height * 2;
		margin-right: $gutter-s;
		i {
			font-size: 12px;
			color: $c-grey-4;
		}
		button {
			background: none;
			border: none;
			width: $chip-height;
			height: $chip-height;
			text-align: center;
			padding: 0;
			outline: none;
			margin-right: -($gutter-l);
			@include border-radius($chip-height);
			@extend .transition;
			i {
				color: rgba(black, 0.25);
				@extend .transition;
				&:before {
					vertical-align: middle;
				}
			}
			&:hover {
				cursor: pointer;
				i {
					color: rgba(black, 0.4);
				}
			}
			&:focus {
				background: rgba(black, 0.1);
			}
		}
		&.chip-firm {
			background-color: rgba(39, 145, 217, 0.1);
			color: $c-firm-1;
		}
		&.chip-dashed {
			background-color: white;
			border: 1px dashed $c-grey-5;
		}
		&.chip-success {
			background: $c-green-1;
			color: white;
		}
		&.chip-danger {
			background: $c-red-1;
			color: white;
		}
		&.chip-warning {
			background: $c-yellow-1;
			color: white;
		}
		&.chip-median {
			background: $c-median-1;
			color: white;
		}
	}
			</code></pre>
		</section>
	</section>
	<section>
		<h4>Label Small <code>.label-s</code></h4>
        <div class="labels-group">
			<div class="label-s">Plain label</div>
			<div class="label-s label-outlined">Label outlines</div>
			<div class="label-s label-grey">Label flat grey</div>
			<div class="label-s label-dashed">Label dashed</div>
			<div class="label-s label-sub-firm">Label sub-firm</div>
			<div class="label-s label-firm">Label firm</div>
			<div class="label-s label-success">Label success</div>
			<div class="label-s label-danger">Label danger</div>
			<div class="label-s label-warning">Label warning</div>
			<div class="label-s label-median">Label median</div>
        </div>
        <section class="code-preview has-tab">
			<div class="card uh-tab">
				<nav class="uh-tab-nav">
					<a  class="nav-item nav-fit-content active" href="#html-1" id="html-tab">HTML</a>
					<a  class="nav-item nav-fit-content" href="#sass-1" id="sass-tab">SASS</a>
				</nav>
			</div>
            <pre class="code-snippet" id="html-1"><code>&lt;div class=&quot;label&quot;&gt;Badge outlines&lt;/div&gt;

&lt;div class=&quot;label label-grey&quot;&gt;Badge flat grey&lt;/div&gt;

&lt;div class=&quot;label label-firm&quot;&gt;Badge prime&lt;/div&gt;

&lt;div class=&quot;label label-success&quot;&gt;Badge success&lt;/div&gt;

&lt;div class=&quot;label label-danger&quot;&gt;Badge danger&lt;/div&gt;

&lt;div class=&quot;label label-warning&quot;&gt;Badge warning&lt;/div&gt;

&lt;div class=&quot;label label-median&quot;&gt;Badgemedian&lt;/div&gt;</code></pre>
            <pre class="code-snippet display-off" id="sass-1"><code>
.label {
	border: 1px solid $c-grey-3;
	@include border-radius(10px);
	color: $c-grey-5;
	display: inline-block;
	font-size: 11px;
	height: $label-height;
	line-height: $label-height - 2;
	min-width: $label-height * 2;
	margin-left: $gutter-s;
	padding: 0 $gutter-m;
	@extend .align-center;
	&.label-firm {
		background-color: $c-firm-1;
		border: 1px solid $c-firm-1;
		color: $c-white;
	}
	&.label-success {
		background-color: $c-green-1;
		border: 1px solid $c-green-1;
		color: $c-white;
	}
	&.label-grey {
		background-color: $c-grey-2;
		border: 1px solid $c-grey-2;
		color: $c-grey-5;
	}
	&.label-danger {
		background-color: $c-red-1;
		border: 1px solid $c-red-1;
		color: $c-white;
	}
	&.label-warning {
		background-color: $c-yellow-1;
		border: 1px solid $c-yellow-1;
		color: $c-white;
	}
	&.label-median {
		background-color: $c-median-1;
		border: 1px solid $c-median-1;
		color: $c-white;
	}
}
			</code></pre>
		</section>
	</section>
	<section>
			<h4>Label Extra Small <code>.label-xs</code></h4>
			<div class="labels-group">
				<div class="label-xs">Plain label</div>
				<div class="label-xs label-outlined">Label outlines</div>
				<div class="label-xs label-grey">Label flat grey</div>
				<div class="label-xs label-dashed">Label dashed</div>
				<div class="label-xs label-sub-firm">Label sub-firm</div>
				<div class="label-xs label-firm">Label firm</div>
				<div class="label-xs label-success">Label success</div>
				<div class="label-xs label-danger">Label danger</div>
				<div class="label-xs label-warning">Label warning</div>
				<div class="label-xs label-median">Label median</div>
			</div>
			<section class="code-preview has-tab">
				<div class="card uh-tab">
					<nav class="uh-tab-nav">
						<a  class="nav-item nav-fit-content active" href="#html-1" id="html-tab">HTML</a>
						<a  class="nav-item nav-fit-content" href="#sass-1" id="sass-tab">SASS</a>
					</nav>
				</div>
				<pre class="code-snippet" id="html-1"><code>&lt;div class=&quot;label&quot;&gt;Badge outlines&lt;/div&gt;
	
	&lt;div class=&quot;label label-grey&quot;&gt;Badge flat grey&lt;/div&gt;
	
	&lt;div class=&quot;label label-firm&quot;&gt;Badge prime&lt;/div&gt;
	
	&lt;div class=&quot;label label-success&quot;&gt;Badge success&lt;/div&gt;
	
	&lt;div class=&quot;label label-danger&quot;&gt;Badge danger&lt;/div&gt;
	
	&lt;div class=&quot;label label-warning&quot;&gt;Badge warning&lt;/div&gt;
	
	&lt;div class=&quot;label label-median&quot;&gt;Badgemedian&lt;/div&gt;</code></pre>
				<pre class="code-snippet display-off" id="sass-1"><code>
	.label {
		border: 1px solid $c-grey-3;
		@include border-radius(10px);
		color: $c-grey-5;
		display: inline-block;
		font-size: 11px;
		height: $label-height;
		line-height: $label-height - 2;
		min-width: $label-height * 2;
		margin-left: $gutter-s;
		padding: 0 $gutter-m;
		@extend .align-center;
		&.label-firm {
			background-color: $c-firm-1;
			border: 1px solid $c-firm-1;
			color: $c-white;
		}
		&.label-success {
			background-color: $c-green-1;
			border: 1px solid $c-green-1;
			color: $c-white;
		}
		&.label-grey {
			background-color: $c-grey-2;
			border: 1px solid $c-grey-2;
			color: $c-grey-5;
		}
		&.label-danger {
			background-color: $c-red-1;
			border: 1px solid $c-red-1;
			color: $c-white;
		}
		&.label-warning {
			background-color: $c-yellow-1;
			border: 1px solid $c-yellow-1;
			color: $c-white;
		}
		&.label-median {
			background-color: $c-median-1;
			border: 1px solid $c-median-1;
			color: $c-white;
		}
	}
				</code></pre>
			</section>
		</section>
</div>