<div class="container-fluid">
    <section class="page-hero">
        <h1>Labels</h1>
    </section>
    <section>
        <div class="labels-group">
            <div class="label">Badge outlines</div>
            <div class="label label-grey">Badge flat grey</div>
            <div class="label label-firm">Badge prime</div>
            <div class="label label-success">Badge success</div>
            <div class="label label-danger">Badge danger</div>
            <div class="label label-warning">Badge warning</div>
            <div class="label label-median">Badge median</div>
        </div>
        <pre><code>&lt;div class=&quot;label&quot;&gt;Badge outlines&lt;/div&gt;
&lt;div class=&quot;label label-grey&quot;&gt;Badge flat grey&lt;/div&gt;
&lt;div class=&quot;label label-firm&quot;&gt;Badge prime&lt;/div&gt;
&lt;div class=&quot;label label-success&quot;&gt;Badge success&lt;/div&gt;
&lt;div class=&quot;label label-danger&quot;&gt;Badge danger&lt;/div&gt;
&lt;div class=&quot;label label-warning&quot;&gt;Badge warning&lt;/div&gt;
&lt;div class=&quot;label label-median&quot;&gt;Badgemedian&lt;/div&gt;</code></pre>
    </section>
</div>