<div class="container-fluid">
    <section class="page-hero">
        <h1>List</h1>
    </section>
    <section>
        <div class="sub-section">
            <h3 class="sub-title">Checkbox</h3>
            <ul class="list check-box">
                <li class="list-item">
                    <div class="check-box-icon">
                        <div class="icon"></div>
                    </div>
                    <p>List item checkbox</p>
                </li>
                <li class="list-item">
                    <div class="check-box-icon">
                        <div class="icon"></div>
                    </div>
                    <p>List item checkbox</p>
                </li>
                <li class="list-item active">
                    <div class="check-box-icon">
                        <div class="icon"></div>
                    </div>
                    <p>List item checkbox</p>
                </li>
            </ul>
        </div>
        <div class="sub-section">
            <h3 class="sub-title">Default</h3>
            <ul class="list">
                <li class="list-item">List item</li>
            </ul>
            <ul class="list">
                <li class="list-item">List item</li>
            </ul>
            <ul class="list">
                <li class="list-item">List item</li>
            </ul>
        </div>
        <pre><code>&lt;ul class=&quot;list check-box&quot;&gt;
    &lt;li class=&quot;list-item&quot;&gt;
        &lt;div class=&quot;check-box-icon&quot;&gt;
            &lt;div class=&quot;icon&quot;&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;p&gt;List item checkbox&lt;/p&gt;
    &lt;/li&gt;

    &lt;li class=&quot;list-item active&quot;&gt;
        &lt;div class=&quot;check-box-icon&quot;&gt;
            &lt;div class=&quot;icon&quot;&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;p&gt;List item checkbox&lt;/p&gt;
    &lt;/li&gt;
&lt;/ul&gt;

&lt;ul class=&quot;list&quot;&gt;
    &lt;li class=&quot;list-item&quot;&gt;List item&lt;/li&gt;
&lt;/ul&gt;
</code></pre>
    </section>
</div>