<div class="container-fluid">
    <section class="page-hero">
        <h1>Notifications</h1>
    </section>
    <section>
        <h4>Notification <small>(default)</small></h4>
        <div class="notification">
            <div class="card notification-base">
                <div class="avatar is-sm">
                    <img src="https://randomuser.me/api/portraits/men/11.jpg">
                </div>
                <div class="notification-content">
                    <h6>Christopher Clark</h6>
                    <p>applied <b>Marketing Officer</b></p>
                    <span><i class="icon-clock"></i><p>about 4 hours ago</p></span>
                </div>
            </div>
        </div>
        <h4>Notification <small>(hover)</small></h4>
        <div class="notification">
            <div class="card notification-base hover">
                <div class="avatar">
                    <img src="https://randomuser.me/api/portraits/men/11.jpg">
                </div>
                <div class="notification-content">
                    <h6>Christopher Clark</h6>
                    <p>applied <b>Marketing Officer</b></p>
                    <span><i class="icon-clock"></i><p>about 4 hours ago</p></span>
                </div>
            </div>
        </div>
        <h4>Notifications bar</h4>
        <div class="notification">
            <div class="card notification-base">
                <div class="avatar">
                    <img src="https://randomuser.me/api/portraits/men/11.jpg">
                </div>
                <div class="notification-content">
                    <h6>Christopher Clark</h6>
                    <p>applied <b>Marketing Officer</b></p>
                    <span><i class="icon-clock"></i><p>about 4 hours ago</p></span>
                </div>
            </div>
            <div class="card notification-base">
                <div class="avatar">
                    <img src="https://randomuser.me/api/portraits/men/11.jpg">
                </div>
                <div class="notification-content">
                    <h6>Christopher Clark</h6>
                    <p>applied <b>Marketing Officer</b></p>
                    <span><i class="icon-clock"></i><p>about 4 hours ago</p></span>
                </div>
            </div>
            <div class="card notification-base hover">
                <div class="avatar">
                    <img src="https://randomuser.me/api/portraits/men/11.jpg">
                </div>
                <div class="notification-content">
                    <h6>Christopher Clark</h6>
                    <p>applied <b>Marketing Officer</b></p>
                    <span><i class="icon-clock"></i><p>about 4 hours ago</p></span>
                </div>
            </div>
            <div class="card notification-base">
                <div class="avatar">
                    <img src="https://randomuser.me/api/portraits/men/11.jpg">
                </div>
                <div class="notification-content">
                    <h6>Christopher Clark</h6>
                    <p>applied <b>Marketing Officer</b></p>
                    <span><i class="icon-clock"></i><p>about 4 hours ago</p></span>
                </div>
            </div>
            <div class="card notification-base">
                <div class="avatar">
                    <img src="https://randomuser.me/api/portraits/men/11.jpg">
                </div>
                <div class="notification-content">
                    <h6>Christopher Clark</h6>
                    <p>applied <b>Marketing Officer</b></p>
                    <span><i class="icon-clock"></i><p>about 4 hours ago</p></span>
                </div>
            </div>
        </div>
    </section>
</div>