<div class="container-fluid">
    <section class="page-hero">
        <h1>Slider</h1>
    </section>
    <section>
        <h3>Default</h3>
        <br>
        <div class="range-slider">
            <input type="range" min="1" max="100000000" step="100000" value="0" id="slider" oninput="onRangeChange()"
                onchange="onRangeChange()">
        </div>
        <br>
        <h3>Dual Slider</h3>
        <br>
        <div class="range-slider dual">
            <input type="range" min="1" max="100000000" step="100000" value="0">
            <input type="range" min="1" max="100000000" step="100000" value="99999999">
        </div>
        <pre><code>&lt;div class=&quot;range-slider&quot;&gt;
    &lt;input type=&quot;range&quot; min=&quot;1&quot; max=&quot;100000000&quot; step=&quot;100000&quot; value=&quot;0&quot; id=&quot;slider&quot;&gt;
    &lt;/div&gt;

&lt;div class=&quot;range-slider dual&quot;&gt;
    &lt;input type=&quot;range&quot; min=&quot;1&quot; max=&quot;100000000&quot; step=&quot;100000&quot; value=&quot;0&quot;&gt;
    &lt;input type=&quot;range&quot; min=&quot;1&quot; max=&quot;100000000&quot; step=&quot;100000&quot; value=&quot;99999999&quot;&gt;
&lt;/div&gt;</code></pre>
    </section>
</div>