<div class="container-fluid">
	<section class="page-hero">
		<h1>Steps</h1>
    </section>
    <section>
        <h4>Steps-block</h4>
        <div class="steps-block">
            <div class="step-block-item col-xs-3">
                <h4>Step 1</h4>
                <p>Promotional Advertising Specialty You Ve Waited Long Enough</p>
            </div>
            <div class="step-block-item col-xs-3 active">
                <h4>Step 2</h4>
                <p>Study 800 Numbers Still Popular With Advertisers</p>
            </div>
            <div class="step-block-item col-xs-3">
                <h4>Step 3</h4>
                <p>Promotional Advertising Specialty You Ve Waited Long Enough</p>
            </div>
            <div class="step-block-item col-xs-3">
                <h4>Step 4</h4>
                <p>Promotional Advertising Specialty You Ve Waited Long Enough</p>
            </div>
        </div>
        <h4>Steps-progress <samll>(with grid)</samll></h4>
        <div class="steps-progress">
            <div class="progress"><div style="width:64%;"></div></div>
            <div class="row">
                <div class="step-item col-xs-3 is-done">
                    <span><i class="icon-check"></i><p>1. Register</p></span>
                </div>
                <div class="step-item col-xs-3 is-active">
                    <span><i class="icon-draft"></i><p>2. Complete your profile</p></span>
                </div>
                <div class="step-item col-xs-3">
                    <span><i class="icon-draft"></i><p>3. Complete your preferences</p></span>
                </div>
            </div>
            <div class="step-counter"><span>64%</span></div>
        </div>
        <h4>Steps-progress <samll>(without grid)</samll></h4>
        <div class="steps-progress">
            <div class="progress"><div style="width:64%;"></div></div>
            <div class="row">
                <div class="step-item is-done">
                    <span><i class="icon-check"></i><p>1. Register</p></span>
                </div>
                <div class="step-item is-active">
                    <span><i class="icon-draft"></i><p>2. Complete your profile</p></span>
                </div>
                <div class="step-item ">
                    <span><i class="icon-draft"></i><p>3. Complete your preferences</p></span>
                </div>
            </div>
            <div class="step-counter"><span>64%</span></div>
        </div>
        <h4>Steps-points</h4>
        <div class="steps-points">
           
            <div class="row">
                <div class="progress-connector"></div>
                <div class="step-item col-xs-4">
                    <div class="step-point"></div>
                </div>
                <div class="step-item col-xs-4">
                    <div class="step-point"></div>
                </div>
                <div class="step-item col-xs-4">
                    <div class="step-point"></div>
                </div>
            </div>
            <div class="row">
                <div class="step-item col-xs-4">
                    <h4><small>Register</small></h4>
                    <p>Search Engine Optimization And Advertising</p>
                </div>
                <div class="step-item col-xs-4">
                    <h4><small>Register</small></h4>
                    <p>Search Engine Optimization And Advertising</p>
                </div>
                <div class="step-item col-xs-4">
                    <h4><small>Register</small></h4>
                    <p>Search Engine Optimization And Advertising</p>
                </div>
            </div>
        </div>
    </section>
</div>

