<div class="container-fluid">
	<section class="page-hero">
		<h1>Toast</h1>
	</section>
	<section>
		<h4>Initial / Relative Toast</h4>
		<div class="toast">
			<p>Toast sample</p>
			<button class="btn btn-flat btn-small toast-close"><i class="icon-close"></i></button>
		</div>
		<br>
		<div class="toast is-warning">
			<p>Toast sample</p>
			<button class="btn btn-flat btn-small toast-close"><i class="icon-close"></i></button>
		</div>
		<br>
		<div class="toast is-info">
			<p>Toast sample</p>
			<button class="btn btn-flat btn-small toast-close"><i class="icon-close"></i></button>
		</div>
		<br>
		<div class="toast is-danger">
			<p>Toast sample</p>
			<button class="btn btn-flat btn-small toast-close"><i class="icon-close"></i></button>
		</div>
		<br>
		<div class="toast is-success">
			<p>Toast sample</p>
			<button class="btn btn-flat btn-small toast-close"><i class="icon-close"></i></button>
		</div>
		<pre><code>&lt;div class=&quot;toast&quot;&gt;
    &lt;p&gt;Toast sample&lt;/p&gt;
    &lt;button class=&quot;btn btn-flat btn-small toast-close&quot;&gt;&lt;i class=&quot;icon-close&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;/div&gt;

&lt;div class=&quot;toast is-warning&quot;&gt;
    &lt;p&gt;Toast sample&lt;/p&gt;
    &lt;button class=&quot;btn btn-flat btn-small toast-close&quot;&gt;&lt;i class=&quot;icon-close&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;/div&gt;

&lt;div class=&quot;toast is-info&quot;&gt;
    &lt;p&gt;Toast sample&lt;/p&gt;
    &lt;button class=&quot;btn btn-flat btn-small toast-close&quot;&gt;&lt;i class=&quot;icon-close&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;/div&gt;

&lt;div class=&quot;toast is-danger&quot;&gt;
    &lt;p&gt;Toast sample&lt;/p&gt;
    &lt;button class=&quot;btn btn-flat btn-small toast-close&quot;&gt;&lt;i class=&quot;icon-close&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;/div&gt;

&lt;div class=&quot;toast is-success&quot;&gt;
    &lt;p&gt;Toast sample&lt;/p&gt;
    &lt;button class=&quot;btn btn-flat btn-small toast-close&quot;&gt;&lt;i class=&quot;icon-close&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;/div&gt;</code></pre>
	</section>
	<section>
		<h4>Fixed Toast</h4>
		<button class="btn btn-firm-o">Call Toast</button>
		<div class="toast-fixed-wrapper">
			<div class="toast is-info hide">
				<p>Fixed toast sample</p>
				<button class="btn btn-flat btn-small toast-close"><i class="icon-close"></i></button>
			</div>
			<div class="toast is-danger">
				<p>Fixed toast sample</p>
				<button class="btn btn-flat btn-small toast-close"><i class="icon-close"></i></button>
			</div>
			<div class="toast is-success hide">
				<p>Fixed toast sample</p>
				<button class="btn btn-flat btn-small toast-close"><i class="icon-close"></i></button>
			</div>
		</div>
	</section>
</div>
