/*Section Pricing*/
.outline{
	outline:solid 1px red;
}
.bg-pricing{
	width:80%;
	position:fixed;
	z-index: 0;
	top:20vh;
	right:0;
	left:0;
	margin:auto;
}
.bg-circles{
	background-image:url('../img/img-circles.svg');
    background-repeat:no-repeat;
    background-position:top 10vh center;
    //background-attachment: fixed;
    //background-size:50%;
}
.section-pricing-hero{
	padding:$margin*4 $margin $margin*3 $margin;
}
.section-pricing-cards{

}

@media (min-height:$screen-sm) and (min-width:$mobile-view) {
    .section-pricing-hero{
		height: 80vh;
	}
	.section-pricing-cards{
		.container{
			margin-top:-20vh;
		}
	}
}



.section-plan{
	position: relative;
	//border-top:solid 1px red;
	//border-bottom:solid 1px red;
	padding:$margin*3 0;
	//min-height: 80vh;
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}


.main-title{
	//margin-top: 35vh;
	color:$c-1;
	width: 100%;
	text-align: center;
	font-size:(48/16)+em;
	letter-spacing: .01rem;
	font-weight:500;
	margin:0.5rem 0 1rem 0;
	padding:0;

}
.sub-title{
	margin:0.5rem 0 1rem 0;
	padding:0;
	font-weight: 400;
	color:$c-font;
	letter-spacing: .01rem;
}
.price-card-wrapper{
	.col-md-3{
		padding:$margin-m;
		 display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	}
}
.price-card{
	padding:$margin;
	position: relative;
	z-index:3;
	width:100%;
	background-color: white;
	background-color:rgba(white, .8);
	overflow: visible;
	@include border-radius(4px);
	@include box-shadow(0 0 0 2px rgba(black, .05));
	&:before{
		display: block;
		content:'';
		//background: red;
		width:100%;
		height:100%;
		@include box-shadow(0 0 0 8px rgba($c-2, .2));
		position: absolute;
		z-index: -1;
		top:0;
		left:0;
		opacity: 0;
		@include transition(opacity .15s $cubic-bezier);
		@include border-radius(4px);
	}
	&:hover{
		&:before{
			opacity: 1;
		}
	}
	&.is-fav{
		background-image:url('../img/ic-bookmark.svg');
		background-repeat:no-repeat;
		background-position: left $margin-m top;
	}
	h3{
		color:lighten($c-1, 10%);
		font-size:1.2rem;
		letter-spacing: 0.15rem;
		font-weight: 500;
	}

}
.price-card-img{
	height:100px;
	position: relative;
	img{
		max-width:100%;
		position: absolute;
		bottom:0;
		left:0;
		right:0;
		margin:auto;
	}

}
.the-price{
	//outline: solid 1px red;
	min-height: 70px;
	display: flex;
  	align-items: center;
  	justify-content: center;
	&.is-shown{
		p{
		font-size:2.1rem;
		color:$c-1;
		font-weight: 500;
		color:darken($c-1, 10%);
		sup{
			font-size:1rem;
		}
		sub{
			font-size:.825rem;
			color: $c-2;
			font-weight:400;
		}
	}
	}
	p{
		font-size:0.925em;
		color:lighten($c-font, 20%);
		text-align: center;
		padding:0;
		margin:0;
		font-weight: 300;
	}
}
.free-trial-outline{
	position: bottom;
	text-align: center;
}

.pc-list{
	position: bottom;
	text-align: left;
	padding: 10px;
	line-height: 2; 
}
@media all and (min-width:$screen-l){
	.price-card-wrapper{
		margin-bottom: 150px;
		position: relative;
		&:before{
			display:block;
			content: '';
			background:$c-5;
			position: absolute;
			width:2px;
			height:50px;
			left:0;
			right:0;
			bottom:-140px;
			margin:auto;
		}
	}
	.leading-lines{
	position: relative;
	&:before, &:after{
		display:block;
		content: '';
		background:$c-5;
		position: absolute;
	}
	&:before{
		height: 100px;
		width:2px;
		bottom:-90px;
		left:0;
		right:0;
		margin:auto;
	}
	&:after{
		width:100%;
		height:2px;
		bottom:-90px;
		right:-50%;
	}
	&:nth-child(3), &:nth-child(4){
		&:after{
			left:-50%;
		}
	}
}

}

.list-plans{
	list-style-type:none;
	margin:0;
	padding:0;
	li{
		font-size:(21/16)+em;
		line-height:1.5em;
		margin:$margin-m 0;
		//outline:solid 1px red;
		padding-left:$margin*2;
		position:relative;
		&:before{
			display:block;
			content:'';
			width:24px;
			height:24px;
			position:absolute;
			top:0;
			left:0;
			bottom:0;
			margin-top:auto;
			margin-bottom:auto;
			//outline:solid 1px green;
			background-image:url('../img/ic-checklist.svg');
			background-repeat:no-repeat;
			background-position:center center;
		}
	}
}
.border-b{
	border-bottom:solid 1px $c-border;
}
.section-feature-comparison{
	border-top:solid 1px $c-border;
	min-height:60vh;
	background:$c-0;
	padding:$margin*3 0;
}
.ic-available, .ic-not-available{
	display:block;
	background-repeat:no-repeat;
	background-position:center center;
	width:22px;
	height:22px;
	//height:50px;
}
.ic-available{
	background-image:url('../img/ic-checklist.svg');
}
.ic-not-available{
	background-image:url('../img/ic-not-available.svg');
}